<template>
  <div class="content-wrap">
    <div class="sidebar">
      <div class="sidebar-section">
        <h2>My Account</h2>
      </div>
      <div class="sidebar-section">
        <div>
          <a-menu mode="inline" style="width: 256px">
            <a-menu-item key="alipay">
              <nuxt-link to="/account"
                ><a-icon type="user" />My Account</nuxt-link
              >
            </a-menu-item>
            <a-menu-item key="alipay">
              <nuxt-link to="about"
                ><a-icon type="bell" />My Notification</nuxt-link
              >
            </a-menu-item>

            <a-menu-item key="alipay">
              <nuxt-link to="/customer/address"
                ><a-icon type="bank" />Address</nuxt-link
              >
            </a-menu-item>
            <a-menu-item key="alipay">
              <nuxt-link to="/whishlist"
                ><a-icon type="user" />My Whishlist</nuxt-link
              >
            </a-menu-item>
          </a-menu>
        </div>
      </div>
    </div>
    <div class="main-content">
      <b-alert
        :show="dismissCountDown"
        dismissible
        :variant="statusAleart"
        @dismissed="dismissCountDown = 0"
        @dismiss-count-down="countDownChanged"
      >
        {{ this.message }}
      </b-alert>
      <a-form-model ref="ruleForm" :model="form">
        <a-form-model-item ref="name" label="Name" prop="name">
          <a-input v-model="form.name" />
        </a-form-model-item>
        <a-form-model-item ref="name" label="Company" prop="name">
          <a-input v-model="form.company" />
        </a-form-model-item>

        <a-form-model-item ref="name" label="Phone" prop="name">
          <a-input v-model="form.phone" />
        </a-form-model-item>

        <div>
          <label for="">City</label>
          <b-form-select
            v-model="form.selectedCity"
            :options="optionsCity"
          ></b-form-select>
        </div>

        <a-form-model-item label="Address" prop="desc">
          <a-input v-model="form.address" type="textarea" />
        </a-form-model-item>

        <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
          <a-button type="primary" @click="create" style="width: 150px">
            Update Address
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  layout: "WithoutHeader",
  data() {
    return {
      message: "",
      statusAleart: "",
      dismissCountDown: 0,
      form: {
        name: "",
        email: "",
        phone: "",
        addres: "",
        company: "",
        resource: "",
        selectedCity: null
      },
      optionsCity: [
        {
          text: "Select City",
          value: null
        },
        {
          text: "Da Nang",
          value: "Da Nang"
        },
        {
          text: "Haiphong",
          value: "Haiphong"
        },
        {
          text: "Cần Thơ",
          value: "Cần Thơ"
        },
        {
          text: "Long Xuyên",
          value: "Long Xuyên"
        },
        {
          text: "Ho chi Minh",
          value: "Ho Chi Minh"
        },
        {
          text: "Ha Noi",
          value: "Ha Noi"
        }
      ],
      optionsDistrict: []
    };
  },
  computed: {
    ...mapGetters({
      getUser: "user/GET_USER"
    })
  },
  async created() {
    this.form.name = `${this.getUser.name.first} ${this.getUser.name.last}`;
    this.form.phone = this.getUser.phone;
    this.form.email = this.getUser.email;
    const data = await this.$axios.get(
      "https://restcountries.eu/rest/v2/region/europe"
    );
  },
  methods: {
    onEdit() {
      console.log("edit", this.getUser);
    },
    async create() {
      try {
        const result = await this.$axios.post(
          "/api/v1/address",
          {
            city: this.form.selectedCity,
            district: "Hai Chau",
            address: this.form.address,
            phone: this.form.phone
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.message = "Added Successfuly";
        this.statusAleart = "success";
        this.dismissCountDown = 3;
      } catch (error) {
        console.log(error.response);
        this.message = "Add Address Fail";
        this.statusAleart = "danger";
        this.dismissCountDown = 3;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.sidebar-section {
  padding: 0.5rem 1 rem;
  margin: 0.5rem;
  background: #fff;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.content-wrap {
  max-width: 1440px;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  overflow: hidden;
  margin-left: 100px;
}
.ant-form-item-control {
  text-align: center;
}
.wrapForm {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 4px;
  form {
    width: 600px;
  }
}
.sidebar {
  width: 20%;
  float: left;
}
.main-content {
  width: 80%;
  float: right;
}
</style>
