<template>
  <div class="content-wrap">
    <div class="sidebar">
      <div class="sidebar-section">
        <h2>My Account</h2>
      </div>
      <div class="sidebar-section">
        <div>
          <a-menu mode="inline" style="width: 256px">
            <a-menu-item key="alipay">
              <nuxt-link to="/account"
                ><a-icon type="user" />My Account</nuxt-link
              >
            </a-menu-item>

            <a-menu-item key="alipay">
              <nuxt-link to="/customer/address"
                ><a-icon type="bank" />Address</nuxt-link
              >
            </a-menu-item>
            <a-menu-item key="alipay">
              <nuxt-link to="/whishlist"
                ><a-icon type="user" />My Whishlist</nuxt-link
              >
            </a-menu-item>
          </a-menu>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="wrapForm">
        <a-form-model-item>
          <a-button type="dashed" style="width: 60%" @click="addAddress">
            <a-icon type="plus" /> Add field
          </a-button>
        </a-form-model-item>
        <div class="item">
          <div>
            <a-card title="Address" v-if="addresses">
              <div v-for="(address, index) in addresses" :key="index">
                <p class="name">{{ form.name }}</p>
                <p class="address">
                  <strong>{{ address.address }}</strong>
                </p>
                <p class="address">
                  Phone<strong>{{ address.phone }}</strong>
                </p>
              </div>
            </a-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  layout: "WithoutHeader",
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: ""
      },
      addresses: []
    };
  },
  computed: {
    ...mapGetters({
      getUser: "user/GET_USER"
    })
  },
  async created() {
    this.form.name = `${this.getUser.name.first} ${this.getUser.name.last}`;
    this.form.phone = this.getUser.phone;
    this.form.email = this.getUser.email;
    try {
      const result = await this.$axios.get("/api/v1/address", {
        headers: {
          Authorization: `Bearer ${this.$store.state.user.user.token}`
        }
      });
      console.log("result", result);
      this.addresses = result.data[0].addresses;
      this.form.name = result.data[0].name.first + result.data[0].name.last;
    } catch (error) {}
  },
  methods: {
    onEdit() {
      console.log("edit", this.getUser);
    },
    addAddress() {
      this.$router.push("/customer/address/create");
    }
  }
};
</script>
<style lang="scss" scoped>
.sidebar-section {
  padding: 0.5rem 1 rem;
  margin: 0.5rem;
  background: #fff;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.address {
  font-size: 12px;
}
.content-wrap {
  max-width: 1440px;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  overflow: hidden;
  margin-left: 100px;
}
.wrapForm {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 4px;
  form {
    width: 600px;
  }
}
.sidebar {
  width: 20%;
  float: left;
}
.main-content {
  width: 80%;
  float: right;
}
.name {
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: bold;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
</style>
