<template>
  <footer class="wrapp-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column">
            <nuxt-link to="/about" class="text-uppercase text-white mt-3"
              >About</nuxt-link
            >
            <nuxt-link to="/about" class="text-uppercase text-white mt-2"
              >Become a Affiliate</nuxt-link
            >
            <nuxt-link to="/about" class="text-uppercase text-white mt-2"
              >Contact us</nuxt-link
            >
            <nuxt-link to="/about" class="text-uppercase text-white mt-2"
              >Privacy</nuxt-link
            >

            <b-row class="mt-5">
              <b-col cols="3">
                <b-button class="button-footer">
                  <b> LOGIN</b>
                </b-button>
              </b-col>
              <b-col cols="3">
                <b-button class="button-footer">
                  <b> SIGN UP</b>
                </b-button>
              </b-col>
            </b-row>
          </div>
        </div>
        <div class="col mt-3 color--white">
          <mdb-col md="4" lg="3" xl="3" class="mb-4 ">
            <h6 class="text-uppercase font-weight-bold color--white">
              <strong>Contact</strong>
            </h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p><i class="fas fa-home mr-3"></i> DA NANG , DA DANG 55000, VN</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> Loyalty
              Bookstores@example.com
            </p>
            <p><i class="fas fa-phone mr-3"></i> + 07 644 836 38</p>
            <p><i class="fas fa-print mr-3"></i> + 03 425 861 89</p>
          </mdb-col>
          <mdb-col md="12 ">
            <div class="mb-5 flex-center color--white mt-5">
              <a class="fb-ic"
                ><i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x">
                </i
              ></a>
              <a class="tw-ic"
                ><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
                </i
              ></a>
              <a class="li-ic"
                ><i
                  class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i
              ></a>
              <a class="ins-ic"
                ><i
                  class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i
              ></a>
              <a class="pin-ic"
                ><i class="fab fa-pinterest fa-lg white-text fa-2x"> </i
              ></a>
            </div>
          </mdb-col>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: "BaseFooter",
  props: {}
};
</script>
<style lang="scss" scoped>
@import url("./style.scss");

.button-footer {
  width: 8em;
  height: 2, 3em;
  border-radius: 2.3em;
  border: none;
  text-align: center;
  background-color: #be2049;
  transition: 0.3s;
}
.button-footer:hover {
  transform: scale(1.05);
}
</style>
