<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          placeholder="Enter email"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.email.required">
          Email is required
        </div>
        <div class="error" v-if="submitted && !$v.form.email.email">
          Email is invalid
        </div>
      </b-form-group>

      <b-form-group id="input-group-2" label="First Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name.firstName"
          placeholder="Enter FirstName"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Last Name:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.name.lastName"
          placeholder="Enter LastName"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.name.lastName.required">
          LastName is required
        </div>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Your Password:"
        label-for="input-4"
      >
        <b-form-input
          type="password"
          id="input-4"
          v-model="form.password"
          placeholder="Enter Password"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.password.required">
          Password is required
        </div>
        <div class="error" v-if="submitted && !$v.form.password.minLength">
          Password must contain at least 4 letters
        </div>
      </b-form-group>

      <b-form-group id="input-group-2" label="UserName:" label-for="input-5">
        <b-form-input
          id="input-5"
          v-model="form.username"
          placeholder="Enter UserName"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.username.required">
          UserName is required
        </div>
      </b-form-group>

      <b-form-group label="Inline radios (default)">
        <b-form-radio-group
          v-model="form.gender"
          :options="options"
          name="radio-inline"
        ></b-form-radio-group>
      </b-form-group>

      <div>
        <label for="example-input">Choose a date</label>
        <b-input-group class="mb-3">
          <b-form-input
            id="example-input"
            v-model="form.birthday"
            type="text"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
          ></b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.birthday"
              button-only
              right
              locale="en-US"
              aria-controls="example-input"
              @context="onContext"
            ></b-form-datepicker>
          </b-input-group-append>
        </b-input-group>
      </div>

      <b-form-group id="input-group-3" label="Role:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="form.role"
          :options="role"
        ></b-form-select>
      </b-form-group>
      <div class="error" v-if="submitted && !$v.form.role.required">
        Role is required
      </div>
      <b-form-group label="Profile:" label-for="file-default" label-cols-sm="2">
        <b-form-file id="file-default" accept=".jpg, .png, .jpeg"></b-form-file>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
import Vue from "vue";
import { required, minLength, between, email } from "vuelidate/lib/validators";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  layout: "DashboardLayout",
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      },
      name: {
        lastName: {
          required
        }
      },
      username: {
        required
      },
      birthday: {
        // between: between("1975/01/01", "2020/01/01")
      },
      role: {
        required
      }
    }
  },
  components: {
    //validations: import
  },
  watch: {
    "form.email": {
      handler: function(after, before) {
        console.log("here", this.$v.form.email.$error);
      },
      deep: true
    }
  },
  data() {
    return {
      form: {
        email: "",
        name: {
          lastName: "",
          firstName: ""
        },
        password: "",
        gender: null,
        birthday: null,
        phone: null,
        roleId: null,
        role: null,
        checked: [],
        username: "",
        gender: null
      },
      submitted: false,
      options: [
        { text: "Female", value: true },
        { text: "Male", value: false },
        { text: "other", value: null }
      ],
      role: [
        { text: "Select One", value: null },
        { text: "Admin", value: 1 },
        { text: "Moderator", value: 2 },
        { text: "User", value: 3 }
      ]
    };
  },
  methods: {
    async onSubmit(evt) {
      if (this.$v.$invalid) {
        this.submitted = true;
        console.log(this.$v);
        return;
      }
      try {
        await this.$axios.post(
          "/api/v1/users",
          {
            username: this.form.username,
            email: this.form.email,
            name: {
              first: this.form.name.firstName,
              last: this.form.name.lastName
            },
            password: this.form.password,
            gender: this.form.gender,
            phone: this.form.phone,
            roleId: this.form.role
          },
          {
            headers: {
              Authorization: `json ${this.$store.state.user.user.token}`
            }
          }
        );
        Vue.swal({
          icon: "success",
          button: false,
          confirm: false,
          timer: 1000
        });
        this.$router.push("/admin");
      } catch (error) {
        console.log(error.response);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.error {
  color: #da5c51;
}
</style>
