<template>
  <div>
    <h3>Permissions</h3>

    <crud-table
      endpoint="/permissions"
      :columns="column"
      :form-fields="{
        name: '',
        email: '',
        username: '',
        gender: '',
        phone: '',
        birthday: ''
      }"
      :data="items"
    >
    </crud-table>
  </div>
</template>
<script>
import CrudTable from "../../components/crud-inactive";
export default {
  layout: "DashboardLayout",
  components: { CrudTable },
  middleware: "CheckAdminGranted",
  data() {
    return {
      perPage: 3,
      currentPage: 1,
      items: [],
      totalRows: 1,
      column: ["email", "role", "createdAt", "action"]
    };
  },
  computed: {},
  async created() {
    this.initialData();
  },
  methods: {
    async initialData() {
      const result = await this.$axios.get("/api/v1/users/inactive");
      result.data.forEach(user => {
        this.items.push({
          id: user.id,
          email: user.email,
          role: user.role.role,
          createdAt: user.createdAt
        });
      });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    }
  },
  watch: {}
};
</script>
