<template>
  <div>
    <h3>Permissions</h3>
    <crud-table
      endpoint="/permissions"
      :columns="column"
      :form-fields="{
        name: '',
        email: '',
        username: '',
        gender: '',
        phone: '',
        birthday: ''
      }"
      :data="items"
    >
      <!-- your form input fields in this slot-->
      <template v-slot:input-fields="{ formdata }">
        <b-form-group id="input-group-1" label="Your Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="formdata.name"
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="UserName:" label-for="input-2">
          <b-form-input
            id="input-3"
            v-model="formdata.username"
            disabled
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Your Name:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="formdata.email"
            disabled
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Role:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="formdata.gender"
            :options="gender"
          ></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-3" label="Phone:" label-for="input-3">
          <b-form-input id="input-3" v-model="formdata.phone"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Gender:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="formdata.role"
            :options="role"
          ></b-form-select>
        </b-form-group>
      </template>
    </crud-table>
  </div>
</template>
<script>
import CrudTable from "../../components/crud-table";
export default {
  layout: "DashboardLayout",
  components: { CrudTable },
  middleware: "CheckAdminGranted",
  data() {
    return {
      female: false,
      male: true,
      perPage: 3,
      currentPage: 1,
      items: [],
      totalRows: 1,
      gender: [
        { text: "Male", value: true },
        { text: "Female", value: false },
        { text: "Other", value: null }
      ],
      role: [
        { text: "Moderator", value: 2 },
        { text: "User", value: 3 }
      ],
      column: [
        "name",
        "email",
        "gender",
        "phone",
        "birthday",
        "role",
        "createdAt",
        "action"
      ],
      pageOptions: [2, 4, 6, 8],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {},
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    async edit(item, index, button) {
      try {
        const result = await this.$axios.delete(`api/v1/users/${item.id}`);
        if (result) {
          console.log("Deleted successfully");
          const result = await this.$axios.get(
            `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`
          );
          this.items = result.data.data;
        }
      } catch (error) {
        console.log(error);
      }
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    }
  },
  watch: {
    async currentPage() {
      try {
        const result = await this.$axios.get(
          `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`
        );
        this.items = result.data.data;
      } catch (error) {
        console.log(error);
      }
    },
    items() {}
  }
};
</script>
<style lang="scss" scoped>
// .table-dark {
//   .thead {
//     color: red;
//     .trow {
//       th {
//         padding: 20px;
//       }
//     }
//   }
// }
.thead {
  color: red;
}
.table-dark .thead {
  color: red;
}
</style>
