<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <b-card class="bg--secondary ">
        <b-card-header class="bg--transparent">
          <div class="text-center text-muted">
            <small>Sign in with</small>
          </div>
          <div
            class="btn-wrapper text-center d-flex justify-content-center my-3"
          >
            <a href="#" class="btn btn-neutral btn-icon  mx-3"
              ><span class="btn-inner--icon"
                ><img src="~/assets/img/icons/common/github.svg"/></span
              ><span class="btn-inner--text">Github</span></a
            >
            <a href="#" class="btn btn-neutral btn-icon mx-3"
              ><span class="btn-inner--icon"
                ><img src="~/assets/img/icons/common/google.svg"/></span
              ><span class="btn-inner--text">Google</span></a
            >
          </div>
        </b-card-header>

        <b-card-body class="px-lg-5 py-lg-5">
          <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="statusAleart"
            @dismissed="dismissCountDown = 0"
            @dismiss-count-down="countDownChanged"
          >
            {{ this.message }}
          </b-alert>
          <b-card-text class="text-center text-muted">
            <small>Or sign in with credentials</small>
          </b-card-text>
          <b-form @submit.prevent="onLoginSubmit">
            <b-input-group class="mb-3 input-group-alternative">
              <b-input-group-prepend>
                <span class="input-group-text"
                  ><i class="fas fa-envelope"></i
                ></span>
              </b-input-group-prepend>
              <b-form-input placeholder="Email" v-model="form.email">
              </b-form-input>
            </b-input-group>
            <b-input-group class="mb-3 input-group-alternative">
              <b-input-group-prepend>
                <span class="input-group-text"
                  ><i class="fas fa-lock"></i
                ></span>
              </b-input-group-prepend>
              <b-form-input
                placeholder="Password"
                v-model="form.password"
                type="password"
              >
              </b-form-input>
            </b-input-group>
            <div
              class="custom-control custom-checkbox custom-control-alternative"
            >
              <input type="checkbox" class="custom-control-input" /><label
                for="SBFgcdL"
                class="custom-control-label"
                ><span class="text-muted">Remember me</span></label
              >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4 px-4">
                Login
              </button>
            </div>
          </b-form>
        </b-card-body>
      </b-card>
      <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light"
            ><small>Create new account</small></router-link
          >
        </div>
      </div> -->
    </div>
  </div>
</template>
<script>
export default {
  name: "login",
  middleware: "CheckAdminGranted",
  layout: "Authlayout",
  data() {
    return {
      message: "",
      statusAleart: "",
      dismissCountDown: 0,
      form: {
        email: "",
        password: "",
        checked: []
      }
    };
  },
  methods: {
    async onLoginSubmit() {
      try {
        const result = await this.$axios.post("/api/v1/auth", {
          email: this.form.email,
          password: this.form.password
        });
        if (result.data.role === "Admin" || result.data.role === "Moderator") {
          this.$store.dispatch("user/ON_SUBMIT_LOGIN_ASYNC", result.data);
          this.$router.push("/admin");
        } else {
          this.dismissCountDown = 3;
          this.message = "Authorized was forbiddened";
          this.statusAleart = "danger";
        }
      } catch (error) {
        this.statusAleart = "danger";
        this.message = "Email or Password are Invalid";
        this.dismissCountDown = 3;
      }
      // this.$store.dispatch("login", this.form);
      //return redirect('/');
      //  this.$route.push({path: '/'});
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    }
  }
};
</script>
<style scoped>
.input-group-prepend {
  margin-right: -1;
}
.btn-neutral {
  background: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(41, 39, 39, 0.08);
  background-color: #fff;
  border-color: #fff;
  width: 300px;
}
.input-group-alternative {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
  border-radius: 15px;
}
.form-control::placeholder {
  font-size: 0.75rem;
  color: #8898aa !important;
}
</style>
