<template>
  <div>
    <productContent header="abc"></productContent>
  </div>
</template>
<script>
import productContent from "../../components/product";
export default {
  layout: "ContentLayout",
  components: {
    productContent
  },
  data() {
    return {
      test: "url:abcd",
      slickOptions: {
        arrows: false,
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        pauseOnDotsHover: true,
        pauseOnFocus: true,
        pauseOnHover: true
      }
    };
  },
  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped>
// @import "../../assets/scss/abstracts/variables";
// @import "../../assets/scss/components/navbar.scss";
.img-wrapper {
  width: 100%;
  height: 500px;
  margin: 1rem 0;
}
</style>
