<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="statusAleart"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ this.message.error }}
    </b-alert>
    <b-row class="bv-example-row">
      <b-col align-self="start">
        <h2>New Product</h2>
      </b-col>
      <b-col align-self="end" class="text-right">
        <b-button variant="success" @click="addProduct">Add Product</b-button>
      </b-col>
    </b-row>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-1" label="Book Name:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.name"
          autocomplete="off"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.name.required">
          Name is required
        </div>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Status:"
        label-for="input-3"
        class="mt-3"
      >
        <b-form-select
          id="input-3"
          v-model="form.status"
          :options="status"
        ></b-form-select>
      </b-form-group>
      <div class="error" v-if="submitted && !$v.form.status.required">
        Status is required
      </div>
      <b-form-group id="input-group-1" label="Author:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.authorName"
          autocomplete="off"
        ></b-form-input>
        <div class="error" v-if="submitted && !$v.form.authorName.required">
          Author is required
        </div>
      </b-form-group>

      <div>
        <b-form-checkbox-group
          v-model="selected"
          :options="options"
          class="mb-3"
          value-field="item"
          text-field="name"
          disabled-field="notEnabled"
        ></b-form-checkbox-group>

        <div class="row" v-if="Object.values(selected).indexOf('F1') >= 0">
          <div class="col-3 mb-3">
            <label for="">Paper Price</label>
            <b-input-group id="input-group-1" label-for="input-1" prepend="$">
              <b-form-input
                id="input-1"
                v-model="form.price.f1"
                type="number"
                step="0.01"
              ></b-form-input>
              <div class="error" v-if="submitted && !$v.form.price.f1.between">
                Price is invalid
              </div>
            </b-input-group>
          </div>
        </div>

        <div class="row" v-if="Object.values(selected).indexOf('F2') >= 0">
          <div class="col-3 mb-3">
            <label for="">Hard Cover</label>
            <b-input-group id="input-group-1" prepend="$">
              <b-form-input
                id="input-1"
                v-model="form.price.f2"
                type="number"
                step="0.01"
              ></b-form-input>
              <div class="error" v-if="submitted && !$v.form.price.f2.between">
                Price is invalid
              </div>
            </b-input-group>
          </div>
        </div>

        <div class="row" v-if="Object.values(selected).indexOf('F3') >= 0">
          <div class="col-3 mb-3">
            <label for="">Compact Disk</label>
            <b-input-group id="input-group-1" prepend="$">
              <b-form-input
                id="input-1"
                v-model="form.price.f3"
                type="number"
                step="0.01"
              ></b-form-input>
            </b-input-group>
            <div class="error" v-if="submitted && !$v.form.price.f3.between">
              Price is invalid
            </div>
          </div>
        </div>
      </div>

      <ckeditor
        :editor="editor"
        :config="editorConfig"
        v-model="form.editorData"
      ></ckeditor>

      <div class="row mt-3">
        <div class="col-2">
          <label for="example-datepicker">Publication</label>
          <b-input-group class="mb-3">
            <b-form-input
              id="example-input"
              v-model="form.publication"
              type="text"
              placeholder="YYYY-MM-DD"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="form.publication"
                button-only
                right
                locale="en-US"
                aria-controls="example-input"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
          <!-- <div class="error" v-if="message.publication">
            Publication is invalid
          </div> -->
        </div>
        <div class="col-2">
          <b-form-group id="input-group-1" label="ISBN:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.isbn"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-2">
          <label for="example-datepicker">Language</label>
          <b-form-select
            v-model="form.language"
            :options="langOptions"
          ></b-form-select>
        </div>
        <div class="col-2">
          <b-form-group id="input-group-1" label="Edition:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.edition"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-2">
          <b-form-group
            id="input-group-1"
            label="Quantity:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="number"
              v-model="form.quantity"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>
        </div>
      </div>

      <div>
        <label for="">Category: </label>
        <b-form-select
          v-model="form.selectedCate"
          :options="categories"
          size="sm"
          class="mt-3"
        ></b-form-select>
        <div class="error" v-if="submitted && !$v.form.selectedCate.required">
          Category is required
        </div>
      </div>

      <div>
        <label>Add Tag</label>
        <vue-tags-input
          v-model="form.tag"
          :tags="tags"
          :allow-edit-tags="true"
          :add-only-from-autocomplete="true"
          :autocomplete-items="items"
          class="tags-input"
          @tags-changed="newTags => (tags = newTags)"
        >
          <div slot="tag-center" slot-scope="props">
            <span
              v-if="!props.edit"
              @click="props.performOpenEdit(props.index)"
            >
              {{ props.tag.text }}
            </span>
            <div v-else class="inputs">
              <select
                v-model="props.tag.text"
                @change="props.validateTag(props.index)"
              >
                <option v-for="(animal, index) in animals" :key="index">{{
                  animal
                }}</option>
              </select>
              <i
                class="material-icons"
                @click="props.performSaveEdit(props.index)"
              >
                check
              </i>
            </div>
          </div>
        </vue-tags-input>
      </div>

      <div class="mt-3">
        <label for="">Select Image</label>
        <b-form-file
          v-model="file"
          :state="Boolean(file)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
        ></b-form-file>
        <div class="error" v-if="submitted && !$v.form.images.required">
          Image is required
        </div>
      </div>
      <div v-if="errImg" class="error">
        Please Delete Image Before upload Another
      </div>
      <div class="row mt-3">
        <div class="col-3" v-if="form.images">
          <div class="d-flex">
            <b-button @click="onDelete">Delete</b-button>
            <p class="mainImage mt-2">Main Image</p>
          </div>
          <img :src="form.images" alt="" style="width:200px" />
        </div>
      </div>
      <b-button type="submit" variant="primary">Upload Image</b-button>
    </b-form>
  </div>
</template>

<script>
import { required, minLength, between, email } from "vuelidate/lib/validators";
import Vue from "vue";
let ClassicEditor;
let CKEditor;

if (process.client) {
  ClassicEditor = require("@ckeditor/ckeditor5-build-classic");
  CKEditor = require("@ckeditor/ckeditor5-vue");
} else {
  CKEditor = { component: { template: "<div></div>" } };
}

export default {
  layout: "DashboardLayout",
  validations: {
    form: {
      name: {
        required
      },
      status: {
        required
      },
      authorName: {
        required
      },

      selectedCate: {
        required
      },
      images: {
        required
      },
      price: {
        f1: {
          between: between(0, 10000)
        },
        f2: {
          between: between(0, 10000)
        },
        f3: {
          between: between(0, 10000)
        }
      }
    }
  },
  components: {
    ckeditor: CKEditor.component
  },
  watch: {
    "form.price.f1": {
      handler: function(after, before) {
        this.form.format.f1 = this.form.price.f1;
      },
      deep: true
    },
    "form.price.f2": {
      handler: function(after, before) {
        this.form.format.f2 = this.form.price.f2;
      },
      deep: true
    },
    "form.price.f3": {
      handler: function(after, before) {
        this.form.format.f3 = this.form.price.f3;
      },
      deep: true
    },
    "form.author": {
      handler: function(after, before) {
        console.log("f1");
      },
      deep: true
    },
    selected() {
      if (Object.values(this.selected).indexOf("F1") < 0)
        this.form.price.f1 = null;
      if (Object.values(this.selected).indexOf("F2") < 0)
        this.form.price.f2 = null;
      if (Object.values(this.selected).indexOf("F3") < 0)
        this.form.price.f3 = null;
    }
  },
  async created() {
    try {
      const result = await this.$axios.get(`/api/v1/categories`);
      result.data.forEach(cate => {
        this.categories.push({ value: cate.id, text: cate.name });
      });

      const tags = await this.$axios.get("/api/v1/tags");
      tags.data.forEach(tag => {
        this.listTag.push(tag.name);
      });
      const languages = await this.$axios.get(
        "https://restcountries.eu/rest/v2/all"
      );
      languages.data.forEach(lang => {
        this.langOptions.push({ text: lang.name, value: lang.name });
      });
    } catch (error) {
      // Vue.swal({
      //   title: "Are you sure?",
      //   text:
      //     "Once deleted, you will not be able to recover this imaginary file!",
      //   icon: "warning",
      //   buttons: true,
      //   dangerMode: true
      // });
      console.log(error.response);
    }
  },
  data() {
    return {
      selected: [],
      statusAleart: "danger",
      message: {
        error: ""
      },
      categories: [],
      dismissSecs: 3,
      dismissCountDownFail: 0,
      dismissCountDown: 0,
      listTag: [],
      errImg: false,
      err: false,
      success: false,
      submitted: false,
      quantity: null,
      options: [
        { item: "F1", name: "PaperBack" },
        { item: "F2", name: "HardCover" },
        { item: "F3", name: "Compact Disk" }
      ],
      langOptions: [],
      file: null,
      warning: false,
      editor: ClassicEditor,
      editorConfig: {
        // The configuration of the editor.
      },
      tag: "",
      tags: [],

      form: {
        tags: [],

        name: "",
        price: {
          f1: null,
          f2: null,
          f3: null
        },
        format: [],
        selectedCate: null,
        status: null,
        discount: null,
        authorName: null,
        description: null,
        slug: "",
        dimension: "",
        images: null,
        publication: null,
        location: null,
        language: "",
        edition: "",
        publisher: "",
        isbn: "",
        trial_url: "",
        editorData: "<p>Content of the editor.</p>"
      },
      status: [
        { text: "Published", value: true },
        { text: "Draft", value: false }
      ],

      value: null
    };
  },
  computed: {
    items() {
      return this.listTag
        .filter(a => {
          return a.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
        })
        .map(a => ({ text: a, value: "1" }));
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    async onSubmit(evt) {
      if (this.form.images) {
        this.errImg = true;
        return;
      }
      try {
        let formData = new FormData();
        formData.append("file", this.file);
        const result = await this.$axios.post("/", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
        this.form.images = result.data;
      } catch (error) {
        console.log(error.response);
        this.err = true;
      }
    },
    onDelete() {
      this.errImg = false;
      this.form.images = null;
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    async addProduct() {
      this.tags.push({ text: "new ", value: 3 });
      if (this.$v.$invalid) {
        this.submitted = true;
        this.dismissCountDown = this.dismissSecs;
        this.statusAleart = "danger";
        this.message.error = "Add Product Failed";
        return;
      }
      try {
        const tagSelected = [];
        Object.keys(this.tags).forEach(item => {
          tagSelected.push(this.tags[item].text);
        });
        console.log("tag", this.tagSelected);
        console.log("format", this.form.price);
        await this.$axios.post(
          "/api/v1/books",
          {
            name: this.form.name,
            discount: this.form.discount,
            description: this.form.editorData,
            available: this.form.status,
            dimension: this.form.dimension,
            publication: this.form.publication,
            language: this.form.language,
            edition: this.form.edition,
            isbn: this.form.isbn,
            selectedTag: tagSelected,
            image: this.form.images,
            categoryId: this.form.selectedCate,
            format: this.form.price,
            authorName: this.form.authorName,
            publisher: this.form.publisher,
            quantity: this.form.quantity
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.dismissCountDown = this.dismissSecs;
        this.statusAleart = "success";
        this.message.error = "Add Product Successfully";
      } catch (error) {
        this.dismissCountDown = this.dismissSecs;
        this.statusAleart = "danger";
        this.message.error = `Add Product Failed! ${error.response.data.message}`;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.error {
  color: #da5c51;
}
.ck input.ck-input.ck-input-text {
  box-shadow: var(--ck-inner-shadow), 0 0;
  background: var(--ck-color-input-background);
  border: 1px solid var(--ck-color-input-border);
  padding: var(--ck-spacing-extra-tiny) var(--ck-spacing-medium);
  transition-property: box-shadow, border;
  transition: 0.2s ease-in-out;

  height: inherit;
  width: inherit;
  font-size: inherit;
  margin: 0;
  box-sizing: border-box;
}

.mainImage {
  background: #3498db;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  width: 20%;
  margin-left: 10px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.ck-editor__main {
  .ck-content {
    height: 300px;
  }
}
body {
  overflow: hidden;
}
</style>
