<template>
  <div>
    <div class="content-wrapper">
      <div class="col-12">
        <h2>Product</h2>
      </div>
      <div class="col-12">
        <b-form>
          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="form.filter"
              placeholder="Filter Products"
            >
            </b-form-input>
          </b-form-group>
        </b-form>
      </div>
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item d-flex">
            <div>
              <span><strong>Recent product</strong></span>
            </div>
            <div style="margin: 0 auto; margin-right: 0">
              <span><strong>Published</strong></span>
            </div>
          </li>
          <li
            class="list-group-item d-flex"
            v-for="item in items"
            :key="item.id"
          >
            <div class="book-item">
              <nuxt-link to="">
                <div class="book-item-wrap">
                  <div class="book-info">
                    <h6>{{ item.name }}</h6>
                    <img
                      :src="item.image"
                      alt=""
                      style="width: 73px; height: 73px"
                    />
                  </div>
                </div>
              </nuxt-link>
            </div>
            <div class="action d-flex">
              <b-form-checkbox
                v-model="checkProduct"
                name="product"
                :value="item.id"
                unchecked-value="not_accepted"
              >
              </b-form-checkbox>
              <div class="delete">
                <i class="fas fa-trash"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  layout: "DashboardLayout",

  components: {},
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      rows: null,
      form: {
        filter: ""
      },
      items: [],
      checkProduct: []
    };
  },

  async created() {
    try {
      console.log("iniitla", this.currentPage);
      const result = await this.$axios.get(
        `/api/v1/books?page=${this.currentPage}&limit=${this.perPage}`,
        {
          headers: {
            Authorization: `Bearer ${this.$store.state.user.user.token}`
          }
        }
      );
      result.data.data.forEach(data => {
        this.checkProduct.push(data.id);
      });
      this.rows = result.data.total;
      this.items = result.data.data;
    } catch (error) {}
  },
  computed: {
    rows() {
      return 200;
    }
  },
  watch: {
    checkProduct(after, before) {
      console.log(before.length);
      console.log(after.length);
      const data = this.differenceOf2Arrays(after, before);
      if (data.length > 0) {
        if (before.length > after.length) {
          console.log("uncheckd");
          console.log("data", data);
          this.updateStatus(data, false);
        } else {
          console.log("checkd");
          console.log("data", data);
          this.updateStatus(data, true);
        }
      }
    },
    async currentPage() {
      this.initialData();
    }
  },
  computed: {},
  methods: {
    differenceOf2Arrays(array1, array2) {
      const temp = [];
      array1 = array1
        .toString()
        .split(",")
        .map(Number);
      array2 = array2
        .toString()
        .split(",")
        .map(Number);

      for (var i in array1) {
        if (!array2.includes(array1[i])) temp.push(array1[i]);
      }
      for (i in array2) {
        if (!array1.includes(array2[i])) temp.push(array2[i]);
      }
      return temp;
    },

    async initialData() {
      try {
        console.log("iniitla", this.currentPage);
        const result = await this.$axios.get(
          `/api/v1/books?page=${this.currentPage}&limit=${this.perPage}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        result.data.data.forEach(data => {
          this.checkProduct.push(data.id);
        });
        this.items = result.data.data;
      } catch (error) {}
    },
    async updateStatus(data, state) {
      try {
        this.$axios.put(
          `/api/v1/books/update/${data[0]}`,
          {
            id: data[0],
            available: state
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.delete {
  color: rgb(235, 45, 23);
  cursor: pointer;
}
.action {
  margin: 0 auto;
  margin-right: 0;
}
.book-info {
  h6 {
    color: #000;
  }
}
</style>
