<template>
  <div class="content-wrap">
    <div class="sidebar">
      <div class="sidebar-section">
        <h2>My Account</h2>
      </div>
      <div class="sidebar-section">
        <div>
          <a-menu mode="inline" style="width: 256px">
            <a-menu-item key="alipay">
              <nuxt-link to="/account"
                ><a-icon type="user" />My Account</nuxt-link
              >
            </a-menu-item>
            <a-menu-item key="alipay">
              <nuxt-link to="about"
                ><a-icon type="bell" />My Notification</nuxt-link
              >
            </a-menu-item>

            <a-menu-item key="alipay">
              <nuxt-link to="/customer/address"
                ><a-icon type="bank" />Address</nuxt-link
              >
            </a-menu-item>
            <a-menu-item key="alipay">
              <nuxt-link to="/whishlist"
                ><a-icon type="user" />My Whishlist</nuxt-link
              >
            </a-menu-item>
          </a-menu>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="wrapForm">
        <b-form @submit.prevent="onEdit" class="formSubmit" v-if="this.getUser">
          <b-form-group
            id="input-group-1"
            label="Your Name:"
            label-for="input-1"
          >
            <b-form-input id="input-1" v-model="form.name"></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Phone:" label-for="input-2">
            <b-form-input id="input-2" v-model="form.phone"></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Email:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.email"
              disabled
            ></b-form-input>
          </b-form-group>

          <b-form-group label="Gender">
            <b-form-radio-group
              id="radio-group-1"
              v-model="form.gender"
              :options="optionsGender"
              name="radio-options"
            ></b-form-radio-group>
          </b-form-group>

          <b-form-group
            id="input-group-1"
            label="Old Password:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.oldPassword"
              type="password"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="New Password:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="password"
              v-model="form.newPassword"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Confirm Password:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              type="password"
              v-model="form.confirmPassword"
            ></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary" @click="update"
            >Update</b-button
          >
        </b-form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  layout: "WithoutHeader",
  middleware: "authenticated",
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        gender: true,
        oldPassword: "",
        newPassword: "",
        confirmPassword: ""
      },
      optionsGender: [
        { text: "Male", value: true },
        { text: "Female", value: false }
      ]
    };
  },
  computed: {
    ...mapGetters({
      getUser: "user/GET_USER"
    })
  },
  created() {
    this.form.name = `${this.getUser.name.first} ${this.getUser.name.last}`;
    this.form.phone = this.getUser.phone;
    this.form.email = this.getUser.email;
  },
  methods: {
    onEdit() {
      console.log("edit", this.getUser);
    },
    async update() {
      try {
        const data = await this.$axios.put(
          `/api/v1/auth/me/password`,
          {
            oldPassword: this.form.oldPassword,
            password: this.form.newPassword
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.$store.dispatch("user/ACTION_LOGOUT");
        this.$router.push("/");
      } catch (error) {}
    }
  }
};
</script>
<style lang="scss" scoped>
.sidebar-section {
  padding: 0.5rem 1 rem;
  margin: 0.5rem;
  background: #fff;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.content-wrap {
  max-width: 1440px;
  padding: 0.5rem 2.5rem 1rem 2.5rem;
  overflow: hidden;
  margin-left: 100px;
}
.wrapForm {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-radius: 4px;
  form {
    width: 600px;
  }
}
.sidebar {
  width: 20%;
  float: left;
}
.main-content {
  width: 80%;
  float: right;
}
</style>
