<template>
  <div>
    <BookDetail></BookDetail>
  </div>
</template>
<script>
import Navbar from "../../components/common/Layout/Navbar";
import BookDetail from "../components/BookDetail";
export default {
  layout: "WithoutHeader",
  components: {
    Navbar,
    BookDetail
  },
  data() {
    return {};
  },
  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped></style>
