<template>
  <div>
    <newRelease header="abc"></newRelease>
  </div>
</template>
<script>
import newRelease from "../components/newRelease";
export default {
  layout: "ContentLayout",
  components: {
    newRelease
  },

  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped></style>
