<template>
  <div class="content-wrapper">
    <h2>DashBoard</h2>
    <div class="row">
      <div class="col-6 box">
        <Card>
          <template slot="title">
            Orders Places
          </template>
          <template slot="content">
            Total number of orders placed
          </template>
          <template slot="footer">
            <p>232</p>
          </template>
        </Card>
      </div>
      <div class="col-6 box">
        <Card>
          <template slot="title">
            Order Total value
          </template>
          <template slot="content">
            Total value of orders placed
          </template>
          <template slot="footer">
            <p>232</p>
          </template>
        </Card>
      </div>
      <div class="col-6 box">
        <Card>
          <template slot="title">
            Number of products for sale
          </template>
          <template slot="content">
            Number of products for sale
          </template>
          <template slot="footer">
            <p>232</p>
          </template>
        </Card>
      </div>
      <div class="col-6 box">
        <Card>
          <template slot="title">
            Total products Sold
          </template>
          <template slot="content">
            Number of products sold
          </template>
          <template slot="footer">
            <p>232</p>
          </template>
        </Card>
      </div>
    </div>

    <div class="tweet">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img
                src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4088/9781408883082.jpg"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Quidditch Through the Ages</strong>
                <small>J.K rowling</small>
              </p>
              <p>Hudderton Backpack Sold: 118</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="tweet">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img
                src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/4088/9781408883082.jpg"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Quidditch Through the Ages</strong>
                <small>J.K rowling</small>
              </p>
              <p>Hudderton Backpack Sold: 118</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "DashboardLayout",

  middleware: "CheckAdminGranted",
  data() {
    return {};
  },
  computed: {},
  methods: {},
  watch: {}
};
</script>
<style lang="scss" scoped>
// .table-dark {
//   .thead {
//     color: red;
//     .trow {
//       th {
//         padding: 20px;
//       }
//     }
//   }
// }
.thead {
  color: red;
}
.table-dark .thead {
  color: red;
}
.box {
  padding: 30px 50px;
}

@import url("https://fonts.googleapis.com/css?family=Muli:400,800");

body {
  height: 100%;
  background: #e6ecf1;
  font-family: "Muli", sans-serif;
}

strong {
  font-weight: 800;
}
p {
  line-height: 1.2;
  + p {
    margin-top: 5px;
  }
}

.view {
  margin-bottom: 20px;
  button + button {
    margin-left: 6px;
  }
}
.tweet {
  background-color: #fff;
  color: #373737;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 30px;
  + .tweet {
    margin-top: 20px;
  }
  .media {
    display: flex;
  }
  img {
    width: 150px;
  }
  small {
    font-size: 14px;
    color: #657786;
  }
}
.media-content {
  margin: 0 auto;
  .content {
    p {
      font-size: 30px;
    }
  }
}
</style>
