$colorGreen: #5CDB95;
$colorGreenDark: #379683;
$colorGreenSuperLight: #EDF5E1;
$colorGreenGradient: linear-gradient(#5CDB95, #379683);
$colorBlue: #039be5;
$colorBlueDark: #022242;
$colorBlueAqua: #8EE4EF;
$colorGray: rgb(155, 155, 155);
$colorGrayHeight: rgb(59, 59, 59);
$colorGreen: #00B97A;
$colorWhite: rgb(255, 255, 255);
$colorBlack: #000;
$colorBlackLight: #0a0a0a;
$colorRed: red;
$colorOrange: rgb(255, 94, 0);
$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$colorSecondary: #573ba3;
$radiusMain: 6px;
