<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-1" label="Tag Name:" label-for="input-1">
        <b-form-input id="input-1" v-model="form.name"></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Add Category</b-button>
    </b-form>
  </div>
</template>

<script>
// import VueTagsInput from "@johmun/vue-tags-input";
import Vue from "vue";
// const app = new Vue({ template: "<div>Foo bar</div>" });
export default {
  layout: "DashboardLayout",
  middleware: "auth",
  data() {
    return {
      form: {
        name: ""
      }
    };
  },
  components: {
    // VueTagsInput
  },
  methods: {
    async onSubmit(evt) {
      try {
        const result = await this.$axios.post(
          "api/v1/tags",
          {
            name: this.form.name
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        Vue.swal({
          title: "Add Sucessfully!",
          icon: "success"
        });
      } catch (error) {
        if (error.response.status == 409) {
          Vue.swal({
            title: "Tag Already Exist",
            icon: "warning",
            dangerMode: true
          });
        }
      }
    }
  }
};
</script>
