<template>
  <div>
    <h3>Permissions</h3>
    <crud-table
      endpoint="tags"
      :columns="column"
      :form-fields="{
        name: '',
        slug: '',
        createdAt: '',
        author: ''
      }"
      :data="items"
    >
      <!-- your form input fields in this slot-->
      <template v-slot:input-fields="{ formdata }">
        <b-form-group
          id="input-group-1"
          label="Category Name:"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="formdata.name"
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>
      </template>
    </crud-table>
  </div>
</template>
<script>
import CrudTable from "../../components/tag-crud";
export default {
  layout: "DashboardLayout",
  components: { CrudTable },
  data() {
    return {
      perPage: 3,
      currentPage: 1,
      items: [],
      totalRows: 1,
      column: ["name", "slug", "createdAt", "updatedAt", "author", "action"]
    };
  },
  computed: {
    rows() {
      //   return 5;
      //   this.$axios
      //     .get(`/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`)
      //     .then(res => {
      //       return res.data.total;
      //     });
    }
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    async edit(item, index, button) {
      // this.infoModal.title = `Row index: ${index}`;
      // this.infoModal.content = JSON.stringify(item, null, 2);
      // this.$root.$emit("bv::show::modal", this.infoModal.id, button);
      try {
        const result = await this.$axios.delete(`api/v1/users/${item.id}`);
        if (result) {
          console.log("Deleted successfully");
          const result = await this.$axios.get(
            `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`
          );
          this.items = result.data.data;
        }
      } catch (error) {
        console.log(error);
      }
    }
  },
  watch: {
    async currentPage() {
      //   try {
      //     const result = await this.$axios.get(
      //       `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`
      //     );
      //     this.items = result.data.data;
      //   } catch (error) {
      //     console.log(error);
      //   }
    },
    items() {}
  }
};
</script>
<style lang="scss" scoped>
// .table-dark {
//   .thead {
//     color: red;
//     .trow {
//       th {
//         padding: 20px;
//       }
//     }
//   }
// }
.thead {
  color: red;
}
.table-dark .thead {
  color: red;
}
</style>
