<template>
  <div class="wrap-login">
    <b-form @submit.prevent="onSubmit">
      <h2 class="text-center mt-3 text-center">Login</h2>
      <div class="error mt-3 text-center" v-if="hasErr">
        Invalid Username or Password !
      </div>
      <b-form-group
        id="input-group-1"
        label="Email address or UserName:"
        label-for="input-1"
        label-class="font-weight-bold pt-0"
        class="mt-5"
      >
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text"
              ><i class="fas fa-user" :class="{ active: isActive }"></i
            ></span>
          </b-input-group-prepend>

          <b-form-input
            id="input-1"
            placeholder="Enter Email"
            v-model="form.email"
            @focus="toggerIcon"
          ></b-form-input>
          <div class="error" v-if="submitted && !$v.form.email.required">
            Email is required
          </div>
        </b-input-group>
      </b-form-group>
      <b-form-group
        id="input-group-2"
        label="Password:"
        label-for="input-2"
        label-class="font-weight-bold pt-0"
        class="mt-5"
      >
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text"
              ><i class="fas fa-unlock" :class="{ active: input2 }"></i
            ></span>
          </b-input-group-prepend>

          <b-form-input
            type="password"
            id="input-2"
            v-model="form.password"
            placeholder="Password"
            @focus="toggerIcon"
          ></b-form-input>
          <div class="error" v-if="submitted && !$v.form.password.required">
            Password is required
          </div>
          <div class="error" v-if="submitted && !$v.form.password.minLength">
            Password must have at least
            {{ $v.form.password.$params.minLength.min }} letters.
          </div>
        </b-input-group>
      </b-form-group>
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="me">Remember me</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
      <div class="text-right">
        <span><nuxt-link to="/about">Forgot your password?</nuxt-link></span>
      </div>
      <div class="text-center">
        <b-button type="submit" variant="primary" class="loginSubmit"
          >Login</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import { required, minLength, between, email } from "vuelidate/lib/validators";
export default {
  name: "Login",
  data() {
    return {
      form: {
        email: "",
        password: "",
        checked: []
      },
      isActive: false, //using for toggle,
      input2: false,
      submitted: false,
      hasErr: false
    };
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required,
        minLength: minLength(4)
      }
    }
  },
  computed: {},
  //handle selector event when element get focus or forcusout
  mounted: function() {},
  methods: {
    async onSubmit(evt) {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      try {
        const result = await this.$axios.post("/api/v1/auth", {
          email: this.form.email,
          password: this.form.password
        });
        this.$store.dispatch("user/ON_SUBMIT_LOGIN_ASYNC", result.data);
        this.$router.push("/");
      } catch (error) {
        // console.log(error.response.data);
        if (error.response.data.statusCode == "404") {
          this.hasErr = true;
        }
      }
    },
    toggerIcon(e) {
      if (e.target.id == "input-1") {
        this.isActive = true;
        this.input2 = false;
      } else {
        this.isActive = false;
        this.input2 = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
//@import "../assets/scss/abstracts/variables";
.wrap-login {
  width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 100px 40px 300px 40px;
}

.active {
  color: #6200ee !important;
}
.form-control {
  background: transparent;
  padding: 0 7px 0 0px;
  border: none;
  outline: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.error {
  color: #da5c51;
}
input::placeholder {
  color: #8898aa !important;
  font-size: 1rem;
}

.input-group {
  border-bottom: 2px solid #d9d9d9;
}
.input-group-text {
  background: transparent !important;
  border: none;
  i {
    color: #adadad;
  }
}
.form-group {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
.text-right {
  text-align: right;
  padding: 20px 0;
  span {
    a {
      color: #666666;
      padding: 40px 0;
    }
  }
}
.loginSubmit {
  width: 100%;
  border-radius: 9999px;
  background: #6200ee;
}
</style>
