<template>
  <div class="wrap-login">
    <b-form @submit.prevent="onSubmit">
      <h2 class="text-center mt-3 text-center">Register</h2>
      <b-alert
        :show="dismissCountDown"
        dismissible
        :variant="statusAleart"
        @dismissed="dismissCountDown = 0"
        @dismiss-count-down="countDownChanged"
      >
        {{ this.message }}
      </b-alert>
      <b-form-group
        id="input-group-1"
        label-for="input-1"
        label-class="font-weight-bold pt-0"
        class="mt-5"
      >
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text"
              ><i class="fas fa-user" :class="{ active: isActive }"></i
            ></span>
          </b-input-group-prepend>

          <b-form-input
            id="input-1"
            placeholder="Email Address"
            v-model="form.email"
            @focus="toggerIcon"
          ></b-form-input>
          <div class="error" v-if="submitted && !$v.form.email.required">
            Email or Username is required
          </div>
        </b-input-group>

        <div class="row">
          <div class="col-6">
            <b-form-group
              id="input-group-2"
              label-for="input-2"
              label-class="font-weight-bold pt-0"
              class="mt-5"
            >
              <b-input-group>
                <b-input-group-prepend> </b-input-group-prepend>

                <b-form-input
                  id="input-2"
                  v-model="form.name.first"
                  placeholder="First Name"
                  @focus="toggerIcon"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-2"
              label-for="input-2"
              label-class="font-weight-bold pt-0"
              class="mt-5"
            >
              <b-input-group>
                <b-input-group-prepend> </b-input-group-prepend>

                <b-form-input
                  id="input-2"
                  v-model="form.name.last"
                  placeholder="Last Name"
                  @focus="toggerIcon"
                ></b-form-input>
                <div
                  class="error"
                  v-if="submitted && !$v.form.name.last.required"
                >
                  Name is required
                </div>
              </b-input-group>
            </b-form-group>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-6">
            <div>
              <b-input-group class="mb-3">
                <b-form-input
                  id="example-input"
                  v-model="form.birthday"
                  type="text"
                  placeholder="YYYY-MM-DD"
                  autocomplete="off"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="form.birthday"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="example-input"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-3"
              label-for="input-3"
              label-class="font-weight-bold pt-0"
            >
              <b-form-select
                id="input-3"
                v-model="form.gender"
                :options="gender"
              ></b-form-select>
            </b-form-group>
          </div>
        </div>
      </b-form-group>
      <b-form-group
        id="input-group-2"
        label-for="input-2"
        label-class="font-weight-bold pt-0"
        class="mt-5"
      >
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text"
              ><i class="fas fa-unlock" :class="{ active: input2 }"></i
            ></span>
          </b-input-group-prepend>

          <b-form-input
            type="password"
            id="input-2"
            v-model="form.password"
            placeholder="Password"
            @focus="toggerIcon"
          ></b-form-input>
          <div class="error" v-if="submitted && !$v.form.password.required">
            Password is required
          </div>
          <div class="error" v-if="submitted && !$v.form.password.minLength">
            Password must have at least
            {{ $v.form.password.$params.minLength.min }} letters.
          </div>
        </b-input-group>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label-for="input-2"
        label-class="font-weight-bold pt-0"
        class="mt-5"
      >
        <b-input-group>
          <b-input-group-prepend>
            <span class="input-group-text"
              ><i class="fas fa-unlock" :class="{ active: input2 }"></i
            ></span>
          </b-input-group-prepend>

          <b-form-input
            type="password"
            id="input-2"
            v-model="form.confirmPassword"
            placeholder="Confirm Password"
            @focus="toggerIcon"
          ></b-form-input>
          <div class="error" v-if="submitted && !$v.form.password.required">
            Password is required
          </div>
          <div class="error" v-if="submitted && !$v.form.password.minLength">
            Password must have at least
            {{ $v.form.password.$params.minLength.min }} letters.
          </div>
        </b-input-group>
      </b-form-group>

      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="me"
            >I Agree to the
            <span class="font-weight-bold">Terms of User</span></b-form-checkbox
          >
        </b-form-checkbox-group>
      </b-form-group>
      <div class="text-right">
        <span><nuxt-link to="/about">Forgot your password?</nuxt-link></span>
      </div>
      <div class="text-center">
        <b-button type="submit" variant="primary" class="loginSubmit"
          >Sign Up</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import {
  required,
  minLength,
  between,
  email,
  samAs
} from "vuelidate/lib/validators";
export default {
  name: "Register",
  data() {
    return {
      password: "",
      message: "",
      statusAleart: "",
      dismissCountDown: 0,
      form: {
        email: "",
        password: "",
        checked: [],
        confirmPassword: "",
        gender: null,
        birhday: "",
        name: {
          first: "",
          last: ""
        }
      },
      isActive: false, //using for toggle,
      input2: false,
      submitted: false,
      hasErr: false,
      gender: [
        { text: "Male", value: true },
        { text: "Female", value: false },
        { text: "Gender", value: null }
      ]
    };
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(4)
      },
      name: {
        last: {
          required
        }
      }
      //   confirmPassword: {
      //     sameAsPassword: samAs("password")
      //   }
    }
  },
  computed: {},
  //handle selector event when element get focus or forcusout
  mounted: function() {},
  methods: {
    async onSubmit(evt) {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      try {
        const result = await this.$axios.post("/api/v1/auth/register", {
          email: this.form.email,
          password: this.form.password,
          confirmPassword: this.form.confirmPassword,
          firstName: this.form.name.first,
          lastName: this.form.name.last,
          gender: this.form.gender,
          birhday: this.form.birhday
        });
        this.$router.push("/login");
      } catch (error) {
        console.log(error.response);
        if (error.response.data.code == 409) {
          this.message = error.response.data.message;
          this.statusAleart = "danger";
          this.dismissCountDown = 3;
        }
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    toggerIcon(e) {
      if (e.target.id == "input-1") {
        this.isActive = true;
        this.input2 = false;
      } else {
        this.isActive = false;
        this.input2 = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
//@import "../assets/scss/abstracts/variables";
.wrap-login {
  width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 100px 40px 300px 40px;
}

.active {
  color: #6200ee !important;
}
.form-control {
  background: transparent;
  padding: 0 7px 0 0px;
  border: none;
  outline: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.error {
  color: #da5c51;
}
input::placeholder {
  color: #8898aa !important;
  font-size: 1rem;
}

.input-group {
  border-bottom: 2px solid #d9d9d9;
}
.input-group-text {
  background: transparent !important;
  border: none;
  i {
    color: #adadad;
  }
}
.form-group {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
.text-right {
  text-align: right;
  padding: 20px 0;
  span {
    a {
      color: #666666;
      padding: 40px 0;
    }
  }
}
.loginSubmit {
  width: 100%;
  border-radius: 9999px;
  background: #6200ee;
}
</style>
