.header {
    background-color: $colorSecondary !important;
    border-bottom: none;
    color: $colorWhite;
    background-image: url('~assets/img/background.jpg');
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 40rem;
}
.searchButton {
  position: absolute;
  top: 65%;
  right: 1rem;
  transform: translateY(-50%);
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 0;
img {
display: inline;
vertical-align: middle;
}
&:hover {
  cursor: pointer;
}
}
.form-control {
border: none;
background: transparent;
margin-top: 0.25rem;
&:focus {
    outline: none;
    box-shadow: none;
}
}