<template>
  <div>
    <b-navbar toggleable="lg" type="dark">
      <b-container>
        <b-navbar-brand href="#">
          <b-row>
            <img
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/2644/original/Black_Line_Logo.jpg?1585937307"
              style="width:40px;height:40px"
              alt=""
            />
            <h3>Loyalty Bookstores</h3>
          </b-row>
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <div class="mt-2">
              <b-list-group horizontal>
                <a href=""><i class="fab fa-twitter mx-3 text-black"></i></a>
                <a href=""><i class="fab fa-facebook-f mx-3 text-black"></i></a>
                <a href=""><i class="fab fa-instagram mx-3 text-black"></i></a>
                <a href="" class="text-uppercase font--15 mx-3 text-black"
                  >FindABookStore</a
                >
                <a href="" class="text-uppercase font--15 mx-3 text-black"
                  >Browse</a
                >
                <a href="" class="text-uppercase font--15 mx-3 text-black"
                  ><i class="fas fa-shopping-cart text-black"></i> Cart</a
                >
                <a href="" class="text-uppercase font--15 mx-3 text-black"
                  ><i class="fas fa-heart"></i> Whishlist</a
                >
              </b-list-group>
            </div>
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em><i class="fas fa-user text-black"></i></em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "Navbar",
  props: {
    typeClass: {
      type: String,
      default: "",
      description: "Whether nav is transparent or not"
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/abstracts/variables";
@import "~assets/scss/components/navbar.scss";
.navbar {
  border-bottom: none;
  border-bottom: 1px solid #e1e1e3;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.navbar-dark .navbar-brand {
  color: #2c293b;
}
.body {
  color: #2c293b;
}
.text-black {
  color: #2c293b;
  font-weight: bold;
}
.productList {
  margin-bottom: 2rem;
  height: 25rem;
  background: #573ba3;
  overflow: hidden;
  .measure {
    max-width: 1024px;
    margin: 0 auto;
    img {
      object-fit: cover;
      width: 50%;
    }
  }
}
</style>
