<template>
  <b-form-group>
    <!-- <slot>
        <h1>fawcaw</h1>
    </slot> -->
    <b-form-input
      id="input-1"
      v-model="form.email"
      type="email"
      required
      placeholder="Enter email"
    ></b-form-input>
  </b-form-group>
</template>
<script>
export default {
    name: "base-input",
    props: {
        required: {
            type: Boolean,
            Description: 'This field is required',
        }
    },
    data() {
      return {
        form: {
          email: "",
          name: "",
        }
      }
    }
}
</script>