<template>
  <li class="nav-item">
    <nuxt-link to="/about" class="nav-link">
      <template>
        <i :class="link.icon" class="text-primary"></i>
        <span class="nav-link-text px-3">{{ link.name }}</span>
      </template>
    </nuxt-link>
  </li>
</template>
<script>
export default {
  name: "sidebar-item",
  props: {
    link: {
      type: Object,
      default: () => {
        return {
          name: "",
          path: "",
          children: []
        };
      }
    }
  }
};
</script>
