<template>
  <nav class="navbar navbar-vertical fixed-left navbar-light bg-white">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <slot name="links"></slot>
        </ul>
        <hr class="my-3 max-w"/>
        <h6 class="navbar-heading text-muted">Documentation</h6>
        <ul class="navbar-nav">
          <li class="nav-item">
            <nuxt-link to="/#" class="nav-link">
              <template>
                <i class="fas fa-columns"></i>
                <span class="nav-link-text px-3">Foundation</span>
              </template>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "side-bar",
  components: {}
};
</script>
