<template>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <b-card title="Title" header-tag="header" footer-tag="footer">
            <template v-slot:header>
              <h6 class="mb-0">Header Slot</h6>
            </template>
            <div>
              <b-table striped hover :items="items" :fields="fields"></b-table>
            </div>
            <template v-slot:footer>
              <em>Footer Slot</em>
            </template>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "project-table",
  components: {},
  data() {
    return {
      fields: ['UserID', 'FullName', 'Email', 'UserName', 'Gender', 'Birthday', 'Role', 'Active'],
      items: [
        {isActive: true, UserID: 1, FullName: 'Ngo Truong Quoc', UserName: 'Json', Gender: 'Male', Birthday: '1999/02/01', Role: 'Dev', Active: 'Peding'}
      ]
    }
  }
};
</script>
