<template>
  <div class="bg-gradient-success">
    <b-navbar style="margin-left: 300px">
      <b-navbar>
        <b-nav-item href="#"
          ><img src="~/assets/img/icons/common/telegram.svg" alt=""
        /></b-nav-item>
        <b-nav-item href="#" style="margin: 12px">Order Status</b-nav-item>
      </b-navbar>
      <b-navbar type="light" variant="light">
        <b-nav-form>
          <b-form-input class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button variant="outline-success" class="my-2 my-sm-0" type="submit"
            >Search</b-button
          >
        </b-nav-form>
      </b-navbar>
      <b-navbar-nav>
        <b-nav-item href="#"
          ><img src="~/assets/img/icons/common/instagram.svg" alt=""
        /></b-nav-item>
        <b-nav-item href="#"
          ><img src="~/assets/img/icons/common/twitter.svg" alt=""
        /></b-nav-item>
        <b-nav-item href="#"
          ><i
            class="fa fa-cart-plus fa-2x "
            style="color: #F4710C; margin-top: 8px"
            aria-hidden="true"
          ></i
        ></b-nav-item>
        <b-nav-item href="#" style="margin: 12px">HELP</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <b-table striped hover :items="items"></b-table>
        </div>
      </div>
    </div>
    <div class="row justify-content-center ">
      <div class="col-5 card shadow">
        <b-form @submit="onSubmit">
          <b-form-group
            id="input-group-1"
            label="Book Name:"
            label-for="input-1"
            ><b-form-input
              id="input-1"
              v-model="form.name"
              type="text"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Author:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.author"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" label="Price:" label-for="input-3">
            <b-form-input
              id="input-3"
              v-model="form.price"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-4" label="Discount:" label-for="input-4"
            ><b-form-input
              id="input-4"
              v-model="form.discount"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-5"
            label="Description:"
            label-for="input-5"
            label-cols-lg="3"
            label-cols="5"
            ><b-form-textarea
              id="textarea-default"
              placeholder="Description"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group id="input-group-6" label="Format:" label-for="input-6">
            <b-form inline>
              <label class="sr-only">length</label>
              <b-input
                id="inline-form-input-length"
                class="mb-1 mr-sm-1 mb-sm-0"
                placeholder="length"
              ></b-input>

              <label class="sr-only">width</label>
              <b-input
                id="inline-form-input-width"
                class="mb-1 mr-sm-1 mb-sm-0"
                placeholder="width"
              >
              </b-input>
              <label class="sr-only">thickness</label>
              <b-input
                id="inline-form-input-thickness"
                class="mb-1 mr-sm-1 mb-sm-0"
                placeholder="thickness"
              >
              </b-input>
            </b-form>
          </b-form-group>
          <b-form-group
            id="input-group-7"
            label="Dimensions:"
            label-for="input-7"
            ><b-form-input
              id="input-7"
              v-model="form.dimensions"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="example-input">Publication</label>
            <b-input-group class="mb-3">
              <b-form-input
                id="example-input"
                v-model="value"
                type="text"
                placeholder="YYYY-MM-DD"
                autocomplete="off"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="value"
                  button-only
                  right
                  locale="en-US"
                  aria-controls="example-input"
                  @context="onContext"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group id="input-group-8" label="Location:" label-for="input-8"
            ><b-form-input
              id="input-8"
              v-model="form.location"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-9" label="Language:" label-for="input-9"
            ><b-form-input
              id="input-9"
              v-model="form.language"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-10"
            label="Edition:"
            label-for="input-10"
            ><b-form-input
              id="input-10"
              v-model="form.edition"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Images Description:" label-for="file-default">
            <b-form-file id="file-default"></b-form-file>
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </div>
    </div>
  </div>
</template>
<style scoped>
.nav-dashboard {
  z-index: -1;
}
</style>
<script>
import ProjectsTable from "../../components/Table";
export default {
  layout: "DashboardLayout",

  components: {},
  data() {
    return {
      form: {
        email: "",
        name: "",
        food: null,
        checked: []
      },
      foods: [
        { text: "Select One", value: null },
        "Carrots",
        "Beans",
        "Tomatoes",
        "Corn"
      ],
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.text-right {
  text-align: right;
  padding: 20px 0;
  span {
    a {
      color: #666666;
      padding: 40px 0;
    }
  }
}
</style>
