<template>
  <header>
    <section class="header">
      <div class="container">
        <div class="title">
          <h1>Support local bookstore shop online with bookshop</h1>
          <b-form class="searchForm">
            <b-form-group>
              <b-input-group class="mb-3 input-group-alternative">
                <b-form-input
                  placeholder="Search"
                  v-model="search"
                  v-on:keyup="searchBook"
                  autocomplete="off"
                >
                </b-form-input>

                <b-button variant="danger" class="searchButton" type="submit">
                  <img
                    src="https://bookshop.org/assets/ic_search_red-7d1a13a60daff70bb90df7cef4d5255a11c09312ba796317f7b701327183cdaf.svg"
                    alt=""
                  />
                </b-button>
              </b-input-group>
            </b-form-group>
          </b-form>
          <div class="search-result" v-if="data.length > 0">
            <b-row
              class="result-item"
              v-for="(item, index) in cates"
              :key="index"
            >
              <b-col
                ><nuxt-link :to="{ path: `/category/${item.slug}` }">{{
                  item.name
                }}</nuxt-link></b-col
              >
            </b-row>
            <b-row
              class="result-item"
              v-for="(item, index) in data"
              :key="index"
            >
              <b-col cols="3">
                <nuxt-link :to="{ path: `/book/${item.slug}` }">
                  <img :src="item.image" alt="Heaven is for Real" />
                </nuxt-link>
              </b-col>
              <b-col cols="8">
                <div class="book-content-wrap">
                  <p class="author">{{ item.name }}</p>
                  <ul class="formats">
                    <li>
                      <nuxt-link :to="{ path: `/book/${item.slug}` }">{{
                        item.author
                      }}</nuxt-link>
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </section>
  </header>
</template>
<script>
import _ from "lodash";
import { VueAutosuggest } from "vue-autosuggest";

export default {
  name: "Header",
  component: {
    VueAutosuggest
  },
  data() {
    return {
      search: "",
      data: [],
      cates: []
    };
  },

  methods: {
    searchBook: _.debounce(async function() {
      const map = [];
      if (this.search != "") {
        const result = await this.$axios.get(
          `/api/v1/books?filter=author.name||$contL||${this.search}&or=name||$contL||${this.search}&limit=6`
        );
        const categorySearch = await this.$axios.get(
          `/api/v1/categories?filter=name||$contL||${this.search}&limit=3`
        );
        console.log("catesearch", categorySearch);
        categorySearch.data.forEach(cate => {
          this.cates.push({
            id: cate.id,
            name: cate.name,
            slug: cate.slug
          });
        });
        console.log("result", this.cates);
        result.data.forEach(book => {
          const format = this.format(JSON.parse(book.format));
          map.push({
            author: book.author.name,
            image: book.image,
            format: format,
            name: book.name,
            slug: book.slug
          });
        });
      }
      this.data = map;
    }, 500),

    format(data) {
      if (data.f1 != null) {
        return "PaperBack";
      }
      if (data.f2 != null) {
        return "HardCover";
      }
      if (data.f3 != null) {
        return "Compact Disk";
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/abstracts/variables";
@import "~assets/scss/components/header.scss";
.searchForm {
  border-radius: 9999px;
  margin: 0 auto;
  margin-top: 100px;
  width: 450px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
}
.book-content-wrap {
  float: left;
  .author {
    color: #333;
    font-size: 1.2rem;
  }
}
.title {
  h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}
.search-result {
  background: white;
  width: 450px;
  margin: 0 auto;
  margin-top: -15px;
  padding: 10px;
}
.result-item {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  img {
    width: 100px;
    object-fit: cover;
  }
}
.fomats {
  text-align: left;
}
</style>
