<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-container>
        <b-navbar-brand href="#">
          <b-row>
            <img
              src="https://bookshop.org/assets/logo_light-5ee7aa72371f35f501fecadca6928236cc338ecf95039046c70d1adea5f72d82.svg"
              alt=""
            />
            <h3>Bookshops</h3>
          </b-row>
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <div class="mt-2">
              <b-list-group horizontal>
                <a href=""><i class="fab fa-twitter mx-3 color-white"></i></a>
                <a href=""
                  ><i class="fab fa-facebook-f mx-3 color-white"></i
                ></a>
                <a href=""><i class="fab fa-instagram mx-3 color-white"></i></a>
                <a href="" class="text-uppercase color-white font--15 mx-3"
                  >FindABookStore</a
                >
                <a href="" class="text-uppercase color-white font--15 mx-3"
                  >Browse</a
                >
                <a href="" class="text-uppercase color-white font--15 mx-3"
                  ><i class="fas fa-shopping-cart"></i> Cart</a
                >
                <a href="" class="text-uppercase color-white font--15 mx-3"
                  ><i class="fas fa-heart"></i> Whishlist</a
                >
              </b-list-group>
            </div>
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em><i class="fas fa-user"></i></em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "Navbar",
  props: {
    typeClass: {
      type: String,
      default: "",
      description: "Whether nav is transparent or not"
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/abstracts/variables";
@import "~assets/scss/components/navbar.scss";
.navbar {
  background-color: $colorSecondary !important;
  border-bottom: none;
  color: $colorWhite;
}
</style>
