<template>
  <div style="height: 700px">
    <b-container>
      <b-row>
        <a-steps>
          <a-step status="process" title="Login">
            <a-icon slot="icon" type="loading" />
          </a-step>
          <a-step status="wait" title="Verification">
            <a-icon slot="icon" type="solution" />
          </a-step>
          <a-step status="wait" title="Pay">
            <a-icon slot="icon" type="loading" />
          </a-step>
          <a-step status="wait" title="Done">
            <a-icon slot="icon" type="smile-o" />
          </a-step>
        </a-steps>
        <b-col cols="12">
          <div class="address-list">
            <p class="name">{{ getUser.name.first }} {{ getUser.name.last }}</p>
            <p title="Kiet 14 thon cam ne">{{ this.form.address }}</p>
            <p>Phone: {{ this.form.phone }}</p>
            <b-button class="addButton" @click="Checkout"
              >Delivery to This Address</b-button
            >
            <b-button class="addButton edit" v-b-toggle.collapse-1
              >Edit</b-button
            >
          </div>
        </b-col>
      </b-row>
      <b-alert
        :show="dismissCountDown"
        dismissible
        :variant="statusAleart"
        @dismissed="dismissCountDown = 0"
        @dismiss-count-down="countDownChanged"
      >
        {{ this.message }}
      </b-alert>
    </b-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  layout: "WithoutHeader",
  middleware: "auth",
  computed: {
    ...mapGetters({
      getUser: "user/GET_USER"
    })
  },
  data() {
    return {
      message: "",
      statusAleart: "",
      dismissCountDown: 0,

      form: {
        name: "",
        phone: "",
        city: "",
        district: "",
        address: "",
        firstName: "",
        lastName: ""
      }
    };
  },
  async created() {
    console.log("created");
    // this.$store.dispatch("cart/ACTION_GET_PRODUCT_CHECKOUT");
    try {
      const result = await this.$axios.get("/api/v1/address", {
        headers: {
          Authorization: `Bearer ${this.$store.state.user.user.token}`
        }
      });
      console.log("result", result);
      this.form.address = result.data[0].addresses[0].address;
      this.form.phone = result.data[0].addresses[0].phone;
      this.form.city = result.data[0].addresses[0].city;
      console.log("phone", this.form.phone);
    } catch (error) {
      console.log(error.response);
    }
  },
  methods: {
    Checkout() {
      if (this.form.phone != "") {
        this.$router.push("/checkout/delivery");
      } else {
        this.message = "Please Update your address before checkout";
        this.statusAleart = "danger";
        this.dismissCountDown = 3;
      }
    },
    onEdit() {}
  }
};
</script>
<style lang="scss" scoped>
.formSubmit {
  margin: 0 auto;
}
.address-list {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 153, 0);
  border-width: 1px;
  border-style: dashed;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
}
label {
  color: rgb(51, 51, 51);
}
.addButton {
  background: rgb(179, 59, 79);
  color: rgb(255, 255, 255);
  border-style: solid;
  outline-color: rgb(204, 204, 204);
  font-size: 12px;
  padding: 6px 14px;
  border: none;
  border-radius: 2px;
}
.name {
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: bold;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.edit {
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(247, 247, 247)
  ) !important;
  font-size: 12px;
  color: rgb(51, 51, 51);
}
.address {
  overflow: hidden;
}
</style>
