<template>
  <div>
    <cart></cart>
  </div>
</template>
<script>
import cart from "../components/checkout";

export default {
  layout: "WithoutHeader",
  components: {
    cart
  },
  data() {
    return {};
  },
  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped></style>
