<template>
  <div class="payment">
    <a-form-model ref="ruleForm" :model="form">
      <a-form-model-item label="email">
        <a-input v-model="form.email" />
      </a-form-model-item>
      <a-form-model-item label="Card information">
        <div id="card-element"></div>
      </a-form-model-item>

      <a-form-model-item label="Name on card" prop="desc">
        <a-input v-model="form.name" />
      </a-form-model-item>

      <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
        <a-button type="primary" @click="pay" style="width: 150px">
          Update Address
        </a-button>
      </a-form-model-item>
    </a-form-model>
  </div>
</template>
<script>
export default {
  layout: "WithoutHeader",
  components: {},
  data() {
    return {
      form: {
        email: null,
        name: null
      }
    };
  },
  // All slick methods can be used too, example here
  methods: {
    pay() {
      //   this.$stripe
      //     .import()
      //     .redirectToCheckout({
      //       lineItems: [
      //         // Replace with the ID of your price
      //         { price: "price_123", quantity: 1 }
      //       ],
      //       mode: "payment",
      //       successUrl: "https://your-website.com/success",
      //       cancelUrl: "https://your-website.com/canceled"
      //     })
      //     .then(function(result) {
      //       // If `redirectToCheckout` fails due to a browser or network
      //       // error, display the localized error message to your customer
      //       // using `result.error.message`.
      //     });
    }
  },
  mounted() {
    const elements = this.$stripe.import().elements();
    const card = elements.create("card", {});
    // Add an instance of the card Element into the `card-element` <div>
    card.mount("#card-element");
  }
};
</script>
<style lang="scss" scoped>
.payment {
}
</style>
