<template>
  <div>
    <b-navbar toggleable="lg" type="dark">
      <b-container>
        <!-- container //  -->
        <b-navbar-brand href="#">
          <b-row>
            <img
              src="https://bookshop.org/assets/logo_light-5ee7aa72371f35f501fecadca6928236cc338ecf95039046c70d1adea5f72d82.svg"
              alt=""
            />
            <h3>Bookshop</h3>
          </b-row>
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <div class="mt-2">
              <b-list-group horizontal>
                <a href=""><i class="fab fa-twitter mx-3 color-white"></i></a>
                <a href=""
                  ><i class="fab fa-facebook-f mx-3 color-white"></i
                ></a>
                <a href=""><i class="fab fa-instagram mx-3 color-white"></i></a>
                <MegaMenu :model="items" />

                <a href="" class="text-uppercase color-white font--15 mx-3"
                  >Browse</a
                >
                <a href="/cart" class="text-uppercase color-white font--15 mx-3"
                  ><i class="fas fa-shopping-cart"></i> Cart</a
                >
                <a href="" class="text-uppercase color-white font--15 mx-3"
                  ><i class="fas fa-heart"></i> Whishlist</a
                >
              </b-list-group>
            </div>
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em><i class="fas fa-user"></i></em>
              </template>
              <div v-if="user">
                <b-dropdown-item href="/account">Profile</b-dropdown-item>
                <b-dropdown-item @click="Logout">Sign Out</b-dropdown-item>
              </div>
              <div v-else>
                <b-dropdown-item href="/login"> Login</b-dropdown-item>
                <b-dropdown-item href="/register">Sign Up</b-dropdown-item>
              </div>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "Navbar",
  props: {
    typeClass: {
      type: String,
      default: "",
      description: "Whether nav is transparent or not"
    }
  },

  computed: {
    ...mapGetters({
      user: "user/GET_USER"
    })
  },
  data() {
    return {
      items: [
        {
          label: "Shop by category",
          icon: "pi pi-home",
          items: [
            [
              {
                label: "Top Categories",
                items: [
                  {
                    label: "Art & Photography",
                    command: () => {
                      this.$router.push(
                        "/category/art-and-photography-1597292778880"
                      );
                    }
                  },
                  {
                    label: "Biography",
                    command: () => {
                      this.$router.push("/category/biography-1597292778894");
                    }
                  },
                  {
                    label: "Chidren's books",
                    command: () => {
                      this.$router.push(
                        "/category/chidren's-books-1597292778907"
                      );
                    }
                  },
                  {
                    label: "Craft & Hobbies",
                    command: () => {
                      this.$router.push(
                        "/category/craft-and-hobbies-1597292778916"
                      );
                    }
                  },
                  {
                    label: "Crime & Thriller",
                    command: () => {
                      this.$router.push(
                        "/category/crime-and-thriller-1597292778930"
                      );
                    }
                  },
                  {
                    label: "Fiction",
                    command: () => {
                      this.$router.push("/category/fiction-1597292778944");
                    }
                  }
                ]
              },
              {
                label: "Chidlren Book by Age range"
              }
            ],
            [
              {
                label: "More categories",
                items: [
                  {
                    label: "Audio Books",
                    command: () => {
                      this.$router.push("/category/audio-books-1597327672426");
                    }
                  },
                  {
                    label: "Business, Finance & Law Computing",
                    command: () => {
                      this.$router.push(
                        "/category/business-finance-and-law-computing-1597327672473"
                      );
                    }
                  },
                  {
                    label: "Dictionaries & Languages",
                    command: () => {
                      this.$router.push(
                        "/category/dictionaries-and-languages-1597327672489"
                      );
                    }
                  },
                  {
                    label: "Entertainment",
                    command: () => {
                      this.$router.push(
                        "/category/entertainment-1597327672506"
                      );
                    }
                  },
                  {
                    label: "Health",
                    command: () => {
                      this.$router.push("/category/health-1597327672522");
                    }
                  },
                  {
                    label: "Home & Garden",
                    command: () => {
                      this.$router.push(
                        "/category/home-and-garden-1597327672541"
                      );
                    }
                  }
                ]
              },
              {
                label: "Video 4",
                items: [{ label: "Video 4.1" }, { label: "Video 4.2" }]
              }
            ],
            [
              {
                label: "Top Author",
                items: [
                  {
                    label: "J. K. Rowling",
                    command: () => {
                      this.$router.push(
                        "/category/j.-k.-rowling-1597327672698"
                      );
                    }
                  },
                  {
                    label: "Roald Dahl",
                    command: () => {
                      this.$router.push("/category/roald-dahl-1597327672740");
                    }
                  },
                  {
                    label: "Julia Donaldson",
                    command: () => {
                      this.$router.push(
                        "/category/julia-donaldson-1597327672765"
                      );
                    }
                  },
                  {
                    label: "Stephen King",
                    command: () => {
                      this.$router.push("/category/stephen-king-1597327672784");
                    }
                  },
                  {
                    label: "David Williams",
                    command: () => {
                      this.$router.push(
                        "/category/david-williams-1597327672800"
                      );
                    }
                  },
                  {
                    label: "Dr. Seuss",
                    command: () => {
                      this.$router.push("/category/dr.-seuss-1597327672836");
                    }
                  }
                ]
              },
              {
                label: "Video 4",
                items: [{ label: "Video 4.1" }, { label: "Video 4.2" }]
              }
            ],
            [
              {
                label: "Best selling Series",
                items: [
                  {
                    label: "Game of Thrones",
                    command: () => {
                      this.$router.push(
                        "/category/game-of-thrones-1597327673017"
                      );
                    }
                  },
                  {
                    label: "Lego",
                    command: () => {
                      this.$router.push("/category/lego-1597327673040");
                    }
                  },
                  {
                    label: "Divergent",
                    command: () => {
                      this.$router.push("/category/divergent-1597327673060");
                    }
                  },
                  {
                    label: "Throne of Glass",
                    command: () => {
                      this.$router.push(
                        "/category/throne-of-glass-1597327673084"
                      );
                    }
                  },
                  {
                    label: "Star Wars",
                    command: () => {
                      this.$router.push("/category/star-wars-1597327673100");
                    }
                  },
                  {
                    label: "Home Learning",
                    command: () => {
                      this.$router.push(
                        "/category/home-learning-1597327673119"
                      );
                    }
                  }
                ]
              },
              {
                label: "Video 4",
                items: [{ label: "Video 4.1" }, { label: "Video 4.2" }]
              }
            ]
          ]
        }
      ]
    };
  },
  methods: {
    Logout() {
      this.$store.dispatch("user/ACTION_LOGOUT");
      this.$router.push("/");
    }
  },
  async created() {
    // try {
    //   const map = [];
    //   const result = await this.$axios.get(`/api/v1/categories/all`);
    //   result.data.forEach(cate => {
    //     const objectChild = [
    //       {
    //         label: `${cate.name}`,
    //         items: []
    //       }
    //     ];
    //     map.push(objectChild);
    //     // if(cate.children.length > 0) {
    //     //   const objectGrand;
    //     //   for(let index=0; index<7; index++) {
    //     //     objectGrand = {
    //     //       label: `${cate.children[index].name}`,
    //     //       // command: () => {
    //     //       //        this.$router.push(`/category/${cate.children[index].name}`)
    //     //       //       }
    //     //     }
    //     //   }
    //     // }
    //     // map.push(objectChild);
    //   });
    //   this.console.log("result", this.items.items);
    //   this.items = [
    //     {
    //       label: "abc",
    //       items: map
    //     }
    //   ];
    // } catch (error) {}
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/abstracts/variables";
@import "~assets/scss/components/navbar.scss";
.navbar {
  background-color: $colorSecondary !important;
  border-bottom: none;
  color: $colorWhite;
}
.p-megamenu {
  background: transparent;
  border: none;
  margin-top: -16px;
  .p-menuitem-text {
    color: #fff;
  }
}
</style>
