<template>
  <a-table :columns="columns" :data-source="items" v-if="items">
    <a
      slot="slug"
      slot-scope="text"
      style="color:green"
      :href="'/admin/order/' + text"
      >View Order</a
    >
    <span slot="customTitle">Order</span>
    <span slot="tags" slot-scope="tags">
      <a-tag :color="tags === true ? 'geekblue' : 'volcano'">
        {{ tags === true ? "Ispaid" : "Pending" }}
      </a-tag>
    </span>
    <span slot="action" slot-scope="text">
      <a-divider type="vertical" />
      <a :href="'/admin/order/delete/' + text"><a-icon type="delete"/></a>
      <a-divider type="vertical" />
    </span>
  </a-table>
</template>
<script>
const columns = [
  {
    dataIndex: "slug",
    key: "slug",
    slots: { title: "customTitle" },
    scopedSlots: { customRender: "slug" },
    color: "red"
  },
  {
    title: "Date",
    dataIndex: "date",
    key: "date"
  },
  {
    title: "Address",
    dataIndex: "address",
    key: "address"
  },
  {
    title: "Author",
    dataIndex: "email",
    key: "email"
  },
  {
    title: "Name",
    dataIndex: "name",
    key: "name"
  },
  {
    title: "Tags",
    key: "tags",
    dataIndex: "tags",
    scopedSlots: { customRender: "tags" }
  },
  {
    title: "Action",
    key: "action",
    dataIndex: "action",
    scopedSlots: { customRender: "action" }
  }
];

export default {
  layout: "DashboardLayout",
  data() {
    return {
      columns,
      rowSelection: [], // Check here to configure the default column
      items: []
    };
  },
  computed: {
    sortOptions() {},
    rows() {
      //   return 5;
      //   this.$axios
      //     .get(`/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`)
      //     .then(res => {
      //       return res.data.total;
      //     });
    }
  },
  async mounted() {},

  async created() {
    try {
      const result = await this.$axios.get("/api/v1/order");
      console.log("result", result);
      result.data.forEach(data => {
        this.items.push({
          key: data.id,
          date: data.createdAt.toLocaleString(),
          address: data.billingAdress.address,
          email: data.user.email,
          name: `${data.user.name.first} ${data.user.name.last}`,
          tags: data.status,
          action: data.id,
          slug: data.id
        });
      });
    } catch (error) {}
  },
  watch: {
    // async currentPage() {
    //   try {
    //     const result = await this.$axios.get(
    //       `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`
    //     );
    //     this.items = result.data.data;
    //   } catch (error) {
    //     console.log(error);
    //   }
    // },
    // items() {}
  }
};
</script>
<style lang="scss" scoped>
// .table-dark {
//   .thead {
//     color: red;
//     .trow {
//       th {
//         padding: 20px;
//       }
//     }
//   }
// }
.thead {
  color: red;
}
.table-dark .thead {
  color: red;
}
</style>
