<template>
  <div class="main-content bg--default ">
    <div class="header header-green bg-gradient-success">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-white">
                Use these awesome forms to login or create new account in your
                project for free.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            class="fill-default"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div>
    <div class="container mt--8">
      <Nuxt />
    </div>
  </div>
</template>
<style scoped>
.separator-bottom {
  bottom: 0;
}
.separator {
  position: absolute;
  left: 0;
  right: 0;
}
.fill-default {
  fill: #172b4d;
}
</style>
<script>
export default {
  name: "Authlayout",
  components: {},
  data() {
    return {
      year: "2019"
    };
  }
};
</script>
