<template>
  <div class="d-flex flex-column">
    <Content />

    <nuxt />
    <BaseFooter />
  </div>
</template>

<script>
import Content from "~/components/v-layout/Content";
import BaseFooter from "~/components/v-layout/BaseFooter";

export default {
  name: "ContentLayout",
  components: {
    Content,
    BaseFooter
  }
};
</script>
<style lang="scss" scoped>
.productList {
  margin-bottom: 2rem;
  height: 25rem;
  background: #573ba3;
  overflow: hidden;
  .measure {
    max-width: 1024px;
    margin: 0 auto;
    img {
      object-fit: cover;
      width: 50%;
    }
  }
}
</style>
