<template>
  <div class="wrapper ">
    <b-row>
      <b-col cols="2">
        <h3>BookShop</h3>

        <template>
          <div>
            <a-menu
              style="width: 256px"
              :default-selected-keys="['1']"
              :open-keys.sync="openKeys"
              mode="inline"
              @click="handleClick"
            >
              <a-sub-menu key="sub1" @titleClick="titleClick">
                <span slot="title"
                  ><a-icon type="mail" /><span>Dashboard</span></span
                >
                <a-menu-item-group key="g1">
                  <template slot="title">
                    <span>Product</span>
                  </template>
                  <a-menu-item key="1">
                    <nuxt-link to="/admin/product/create"
                      >Create Product</nuxt-link
                    >
                  </a-menu-item>
                  <a-menu-item key="2">
                    <nuxt-link to="/admin/product/">Manage Product</nuxt-link>
                  </a-menu-item>
                </a-menu-item-group>
                <a-menu-item-group key="g2" title="Orders">
                  <a-menu-item key="3">
                    <nuxt-link to="/admin/order/">Manage Order</nuxt-link>
                  </a-menu-item>
                </a-menu-item-group>
              </a-sub-menu>
              <a-sub-menu key="sub2" @titleClick="titleClick">
                <span slot="title"
                  ><a-icon type="appstore" /><span>Users</span></span
                >
                <a-menu-item key="4">
                  <nuxt-link to="/admin/user">Manage User</nuxt-link>
                </a-menu-item>
                <a-menu-item key="5">
                  <nuxt-link to="/admin/user/create">Create User</nuxt-link>
                </a-menu-item>
                <a-menu-item key="6">
                  <nuxt-link to="/admin/user/inactive">Inactive User</nuxt-link>
                </a-menu-item>
                <a-sub-menu key="sub3" title="Profile">
                  <a-menu-item key="7">
                    <nuxt-link to="/admin/user/profile">Profile</nuxt-link>
                  </a-menu-item>
                  <a-menu-item key="8">
                    <a @click="logout">Logout</a>
                  </a-menu-item>
                </a-sub-menu>
              </a-sub-menu>
              <a-menu-item-group key="g2" title="Category">
                <a-menu-item key="9">
                  <nuxt-link to="/admin/category/">Manage Category</nuxt-link>
                </a-menu-item>
                <a-menu-item key="10">
                  <nuxt-link to="/admin/category/add"
                    >Create Category</nuxt-link
                  >
                </a-menu-item>
                <a-menu-item key="11">
                  <nuxt-link to="/admin/category/own"
                    >My own Category</nuxt-link
                  >
                </a-menu-item>
              </a-menu-item-group>

              <a-menu-item-group key="g2" title="Tags">
                <a-menu-item key="12">
                  <nuxt-link to="/admin/tag">Manage Tag</nuxt-link>
                </a-menu-item>
                <a-menu-item key="13">
                  <nuxt-link to="/admin/tag/create">Create Tag</nuxt-link>
                </a-menu-item>
              </a-menu-item-group>

              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
              <a-menu-item key="13"> </a-menu-item>
            </a-menu>
          </div>
        </template>
      </b-col>
      <b-col cols="9">
        <div class="main-content">
          <Nuxt />
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<style scoped>
@media screen {
}
.main-content {
  margin-top: 100px;
  /* padding: 20px 30px; */
}
.navbar-verticle {
  /* width: 300px; */
  position: fixed;
  top: 0;
  bottom: 0;
  align-items: flex-start;
}
.nav-item {
  padding: 20px 0;
  cursor: pointer;
}
.wrapper {
  overflow: hidden;
}
</style>
<script>
export default {
  name: "DashboardLayout",
  data() {
    return {
      current: ["mail"],
      openKeys: ["sub1"]
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("user/ACTION_LOGOUT");
      this.$router.push("/");
    },
    handleClick(e) {
      console.log("click", e);
    },
    titleClick(e) {
      console.log("titleClick", e);
    }
  },
  watch: {
    openKeys(val) {
      console.log("openKeys", val);
    }
  }
};
</script>
