<template>
  <div class="d-flex flex-column">
    <BaseHeader />
    <nuxt />

    <BaseFooter />
  </div>
</template>

<script>
import BaseHeader from "~/components/v-layout/BaseHeader";
import BaseFooter from "~/components/v-layout/BaseFooter";

export default {
  name: "DefaultLayout",
  components: {
    BaseHeader,
    BaseFooter
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
<style lang="scss">
// Styles, to quickly start using the component
// You can delete, change or add your own

// Limit the width to 1024px and center
.vsm-menu {
  margin: 10px;
  ul {
    max-width: 1024px;
    margin: 0 auto;
  }
}

// Let's simplify the work with menu items (logo, menu, buttons, etc)
.vsm-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Move all the content to the right and reduce the logo
.logo-section {
  flex: 1 1 auto;
  img {
    user-select: none;
    max-width: 40px;
  }
}

// All menu items (element props: a, button, span, etc) are
// made the same in style
.vsm-section_menu {
  > * {
    padding: 0 25px;
    font-weight: 500;
    font-family: inherit;
  }
}

// Styles for Dropdown Content:
.wrap-content {
  padding: 30px;
  // Set the width manually so that it does not depend
  // on changing content
  width: 400px;
}
.wrap-content__block {
  font-weight: bold;
}
.wrap-content__item {
  font-style: italic;
  font-size: 0.8rem;
}
</style>
