<template>
  <div>
    <p>Hi from {{ name }}</p>
    <p>Timestamp: {{ date }}</p>
    <nuxt-link to="/">
      HomePage
    </nuxt-link>
  </div>
</template>
<script>
export default {
  layout: "dark",
  serverCacheKey() {
    // Will change every 10 secondes
    return Math.floor(Date.now() / 10000);
  },
  asyncData({ req }) {
    return {
      name: req ? "server" : "client",
      date: Date.now()
    };
  }
};
</script>
