<template>
  <div>
    <Header></Header>
    <VueSlickCarousel v-bind="slickOptions" class="img-wrapper">
      <div class="img-wrapper">
        <nuxt-link to="/about">
          <img
            src="https://images-production.bookshop.org/spree/promo_banner_slides/desktop_images/33/original/Atleework_Miracl_2048x600.jpg?1597710705"
            alt=""
          />
        </nuxt-link>
      </div>
      <div class="img-wrapper">
        <nuxt-link to="/about">
          <img
            src="https://images-production.bookshop.org/spree/promo_banner_slides/desktop_images/33/original/Atleework_Miracl_2048x600.jpg?1597710705"
            alt=""
        /></nuxt-link>
      </div>
    </VueSlickCarousel>
    <contentWrapper></contentWrapper>
  </div>
</template>
<script>
import Navbar from "../components/common/Layout/Navbar";
import Header from "../components/common/Layout/Header";
import contentWrapper from "../pages/components/Content";
export default {
  components: {
    Navbar,
    Header,
    contentWrapper
  },
  data() {
    return {
      slickOptions: {
        arrows: false,
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        pauseOnDotsHover: true,
        pauseOnFocus: true,
        pauseOnHover: true
      }
    };
  },
  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped>
@import "../assets/scss/abstracts/variables";
@import "../assets/scss/components/navbar.scss";
.img-wrapper {
  width: 100%;
  height: 500px;
  margin: 1rem 0;
}
</style>
