<template>
  <div class="wrapper">
    <div class="content mt-5">
      <div class="container">
        <Login></Login>
      </div>
    </div>
  </div>
</template>
<script>
import Navbar from "../components/common/Layout/Navbar";
import FooterLayout from "../layouts/common/Footerlayout";
import Login from "../components/common/login";

export default {
  comments: {
    Login,
    FooterLayout
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  position: relative;
}
</style>
