<template>
  <div>
    <whishlist></whishlist>
  </div>
</template>
<script>
import whishlist from "../components/whishlist";
import Navbar from "../../components/common/Layout/Navbar";

export default {
  layout: "WithoutHeader",
  components: {
    Navbar,
    whishlist
  },
  data() {
    return {};
  },
  // All slick methods can be used too, example here
  methods: {}
};
</script>
<style lang="scss" scoped></style>
