<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="statusAleart"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ this.message.error }}
    </b-alert>
    <b-form @submit.prevent="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Category Name:"
        label-for="input-1"
      >
        <b-form-input id="input-1" v-model="form.name"></b-form-input>
      </b-form-group>
      <b-form-group v-if="rootId" label="Parent Categorys">
        <b-form-select
          v-model="selected"
          :options="optionsParent"
        ></b-form-select>
      </b-form-group>

      <b-form-group v-if="grandParentId">
        <b-form-select
          v-model="selectedChildren"
          :options="optionsGrandParent"
        ></b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary">Add Category</b-button>
    </b-form>
  </div>
</template>

<script>
// import VueTagsInput from "@johmun/vue-tags-input";
import Vue from "vue";
// const app = new Vue({ template: "<div>Foo bar</div>" });
export default {
  layout: "DashboardLayout",
  data() {
    return {
      statusAleart: "danger",
      message: {
        error: ""
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      parentId: null,
      rootId: false,
      grandParentId: false,
      selectedChildren: null,
      form: {
        name: ""
      },
      tag: "",
      tags: [],
      selected: null,
      optionsParent: [{ value: null, text: "none" }],
      optionsGrandParent: []
    };
  },
  components: {
    // VueTagsInput
  },
  watch: {
    async selected() {
      console.log("selected", this.selected);
      if (this.selected !== null) {
        const result = await this.$axios.get(
          `/api/v1/categories/${this.selected}`
        );
        console.log("result", result);
        if (result.data.children.length > 0) {
          result.data.children.forEach(data => {
            const options = {
              value: data.id,
              text: data.name
            };
            this.optionsGrandParent.push(options);
            this.selectedChildren = data.id;
          });
          this.grandParentId = true;
        } else {
          this.grandParentId = false;
          this.parentId = result.data.id;
          this.optionsGrandParent = [];
        }
      } else {
        this.parentId = null;
        this.grandParentId = false;
        this.optionsGrandParent = [];
      }
    },
    async selectedChildren() {
      this.parentId = this.selectedChildren;
      console.log("parentId", this.parentId);
    }
  },
  async mounted() {
    try {
      const result = await this.$axios.get("/api/v1/categories/all");
      if (result.data.length > 0) {
        this.rootId = true;
        Object.keys(result.data).forEach(key => {
          console.log(key, result.data[key].id);
          const options = {
            value: result.data[key].id,
            text: result.data[key].name
          };
          this.optionsParent.push(options);
        });
      }
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    async onSubmit(evt) {
      console.log(this.parentId);
      try {
        const result = await this.$axios.post(
          "api/v1/categories",
          {
            name: this.form.name,
            parentId: this.parentId
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        Vue.swal({
          title: "Add Sucessfully!",
          icon: "success"
        });
        this.$router.push("/admin/category/add");
      } catch (error) {
        Vue.swal({
          title: "Add Failed",
          icon: "warning",
          dangerMode: true
        });
      }
    }
  }
};
</script>
