<template>
  <div>
    <div class="content-wrapper">
      <div class="col-12">
        <h2>Trash</h2>
      </div>
      <div class="col-12">
        <b-form>
          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="form.filter"
              placeholder="Filter Products"
            >
            </b-form-input>
          </b-form-group>
        </b-form>
      </div>
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item d-flex">
            <div>
              <span><strong>Name</strong></span>
            </div>
            <div style="margin: 0 auto; margin-right: 0">
              <span><strong>Published</strong></span>
            </div>
          </li>
          <li
            class="list-group-item d-flex"
            v-for="item in items"
            :key="item.id"
          >
            <div class="book-item">
              <nuxt-link to="">
                <span>{{ item.name }}</span>
              </nuxt-link>
            </div>
            <div class="action d-flex">
              <b-form-checkbox
                v-model="checkProduct"
                name="product"
                :value="item.id"
                unchecked-value="not_accepted"
              >
              </b-form-checkbox>
              <div class="delete">
                <i class="fas fa-trash"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

export default {
  layout: "DashboardLayout",

  components: {},

  async created() {
    try {
      const result = await this.$axios.get(
        `/api/v1/categories/inactive/category`,
        {
          headers: {
            Authorization: `Bearer ${this.$store.state.user.user.token}`
          }
        }
      );
      result.data.forEach(data => {
        this.checkProduct.push(data.id);
      });
      this.items = result.data;
    } catch (error) {
      console.log(error.response);
    }
  },
  data() {
    return {
      form: {
        filter: ""
      },
      items: [],
      checkProduct: []
    };
  },
  watch: {
    checkProduct(after, before) {}
  },
  computed: {},
  methods: {}
};
</script>
<style lang="scss" scoped>
.delete {
  color: rgb(235, 45, 23);
  cursor: pointer;
}
.action {
  margin: 0 auto;
  margin-right: 0;
}
.book-info {
  h6 {
    color: #000;
  }
}
</style>
