<template>
  <b-container>
    <div class="content-wrapper mt-5">
      <b-row class="justify-content-md-center ">
        <b-col cols="3" v-if="item">
          <img class="book-detail-image" :src="item.image" alt="" />
        </b-col>
        <b-col cols="8">
          <h3>The Nickel Boys (Winner 2020 Pulitzer Prize for Fiction)</h3>
          <a style="color: #583BA3" href="">Colson Whitehead (Author)</a>
          <br /><b>Format</b>
          <b-col>
            <!-- <b-card-group columns v-if="item">
              <button
                class="book-detail-black-color"
                v-for="(price, index) in item.prices"
                :key="index"
              >
                <b-card>
                  <b-card-sub-title v-if="price.format == 'f3'"
                    >Hardcover</b-card-sub-title
                  >
                  <b-card-sub-title v-if="price.format == 'f2'"
                    >Paperback</b-card-sub-title
                  >
                  <b-card-sub-title v-if="price.format == 'f1'"
                    >Audio</b-card-sub-title
                  >
                  <b-card-text>{{ item.language }}</b-card-text>
                  <b-card-text
                    ><del style="color: #BE2049">${{ price.price }}</del
                    ><b>
                      <span v-if="item.discount"
                        >${{ item.discount * price.price }}</span
                      >${{ price.price }}</b
                    ></b-card-text
                  >
                </b-card>
              </button>
            </b-card-group> -->
            <div class="d-flex" v-if="item" ref="wrap">
              <b-button
                v-for="(price, index) in item.prices"
                :key="index"
                class="book-detail"
                ref="index"
                @click="selectFormat(price, index)"
              >
                <h3 class="bookFormat">Hard Cover</h3>
                <b-col class="bookPrice">
                  <span class="text-through">$26.99</span>
                  <span class="font-bold">$24.83</span>
                </b-col>

                <b-modal id="bv-modal-example" hide-footer ref="dialog">
                  <div class="d-flex">
                    <div class="imgModal">
                      <img :src="item.image" alt="" />
                    </div>
                    <div class="contentModal">
                      <h4>{{ item.name }}</h4>
                      <p>{{ item.author.name }}</p>
                    </div>
                  </div>
                  <b-button
                    class="mt-3 butModal"
                    block
                    @click="$bvModal.hide('bv-modal-example')"
                    >keep Shopping</b-button
                  >
                  <b-button
                    class="mt-3 butModal"
                    block
                    variant="danger"
                    @click="checkout"
                    >Checkout ({{ getProductIncart.length }}) items</b-button
                  >
                </b-modal>
              </b-button>
            </div>
            <a class="book-detail-black-color" href="">
              <b>See all format </b>
              <i class="fas fa-chevron-circle-right"></i>
            </a>
            <b-col>
              <b-button class=" book-detail-button mt-3 mb-3" @click="addCart">
                <i class="fas fa-shopping-bag"></i>
                <b> ADD TO CARD</b>
              </b-button>
            </b-col>
            <a class="book-detail-black-color" @click="addWhishlist(item)">
              <i class="fas fa-external-link-alt"></i>
              <b>Add To Whihlist</b>
            </a>
            <b-col style="color: #1EA5A3">
              <i class="fas fa-check-circle"></i>
              <b>AVAILABLE</b>
            </b-col>
            <b-col class="mt-4" v-if="item">
              <h2>Description</h2>
              <div v-html="item.description"></div>
            </b-col>
            <b-col class="mt-5">
              <h2>Product Details</h2>
              <div v-if="item">
                <b-row v-for="(item, index) in item.prices" :key="index">
                  <b-col cols="2 " class="book-detail-text-align">Price</b-col>
                  <b-col
                    ><del style="color: #BE2049">${{ item.price }}</del
                    ><b>
                      <span v-if="item.discount"
                        >${{ item.price * discount }}</span
                      ></b
                    ></b-col
                  >
                </b-row>
              </div>

              <b-row>
                <b-col cols="2 " class="book-detail-text-align">Pages</b-col>
                <b-col>224</b-col>
              </b-row>
              <b-row>
                <b-col cols="2 " class="book-detail-text-align"
                  >Dimensions</b-col
                >
                <b-col>5.8 X 1.3 X 8.3 inches | 0.9 pounds</b-col>
              </b-row>
              <b-row>
                <b-col cols="2 " class="book-detail-text-align">Language</b-col>
                <b-col>English</b-col>
              </b-row>
              <b-row>
                <b-col cols="2 " class="book-detail-text-align">Type</b-col>
                <b-col>Hardcover</b-col>
              </b-row>
              <b-row>
                <b-col cols="2 " class="book-detail-text-align">EAN/UPC</b-col>
                <b-col>9780385537070</b-col>
              </b-row>
              <b>BISAC Categories:</b>
              <a style="color: #593BA3" href="">Historical - General,</a>
              <a style="color: #593BA3" href="">Literary,</a>
              <a style="color: #593BA3" href="">African American - General</a>
            </b-col>
            <b-col>
              <h2 class="mt-5">About the Author</h2>
              Colson Whitehead is the #1 New York Times bestselling author of
              The Underground Railroad, which in 2016 won the Pulitzer Prize in
              Fiction and the National Book Award and was named one of the Ten
              Best Books of the Year by The New York Times Book Review, as well
              as The Noble Hustle, Zone One, Sag Harbor, The Intuitionist, John
              Henry Days, Apex Hides the Hurt, and The Colossus of New York. He
              is also a Pulitzer Prize finalist and a recipient of the MacArthur
              and Guggenheim Fellowships. He lives in New York City. Colson
              Whitehead is available for select speakingengagements. To inquire
              about a possible appearance, please contact Penguin Random House
              Speakers Bureauat speakers@ penguinrandomhouse.com or
              visitwww.prhspeakers.com.
            </b-col>
            <b-col>
              <h2>Reviews</h2>
              New York Times Bestseller
              <br />
              Winner of The Kirkus Prize <br />Chosen by Publishers Weekly as
              one of the 10 Best Books of the Year <br />Longlisted for The
              National Book Award <br />"A necessary read." --President Barack
              Obama <br />"This is a powerful book by one of America's great
              writers. . . . Without sentimentality, in as intense and finely
              crafted a book as you'll ever read, Whitehead tells a story of
              American history that won't allow you to see the country in the
              same way again." --Toronto Star <br />"Colson Whitehead continues
              to make a classic American genre his own. . . . The narration is
              disciplined and the sentences plain and sturdy, oars cutting into
              water. Every chapter hits its marks. . . . Whitehead comports
              himself with gravity and care, the steward of painful, suppressed
              histories; his choices on the page can feel as much ethical as
              aesthetic. The ordinary language, the clear pane of his prose,
              lets the stories speak for themselves. . . . Whitehead has written
              novels of horror and apocalypse; nothing touches the grimness of
              the real stories he conveys here" --The New York Times
            </b-col>
          </b-col>
        </b-col>
      </b-row>
      <b-row> </b-row>
    </div>
    <div class="comments-outside">
      <div class="comments-header">
        <div class="comments-stats">
          <span>User's comments</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="wrap-rating">
            <p>Average Rating</p>
            <p>3.5/5</p>
            <star-rating v-model="rating"></star-rating>
            <p>(27 comments)</p>
          </div>
        </div>
        <div class="col-6">
          <div class="wrap-bar d-flex">
            <span class="d-flex">
              <span>5</span><a-icon type="star" style="margin:2px 3px"
            /></span>
            <a-progress
              :percent="Math.round((rank.star5 / rank.total) * 100)"
            />
          </div>
          <div class="wrap-bar d-flex">
            <span class="d-flex">
              <span>4</span><a-icon type="star" style="margin:2px 3px"
            /></span>
            <a-progress
              :percent="Math.round((rank.star4 / rank.total) * 100)"
            />
          </div>
          <div class="wrap-bar d-flex">
            <span class="d-flex">
              <span>3</span><a-icon type="star" style="margin:2px 3px"
            /></span>
            <a-progress
              :percent="Math.round((rank.star3 / rank.total) * 100)"
            />
          </div>
          <div class="wrap-bar d-flex">
            <span class="d-flex">
              <span>2</span><a-icon type="star" style="margin:2px 3px"
            /></span>
            <a-progress
              :percent="Math.round((rank.star2 / rank.total) * 100)"
            />
          </div>
          <div class="wrap-bar d-flex">
            <span class="d-flex">
              <span>1</span><a-icon type="star" style="margin:2px 3px"
            /></span>
            <a-progress
              :percent="Math.round((rank.star1 / rank.total) * 100)"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>Writing Your Review</h3>
          <div class="review d-flex">
            <p>1. Review This Book:</p>
            <star-rating v-model="ratingSelected"></star-rating>
          </div>
          <label for="">Writing Review Below</label>
          <a-form-model-item label="Address" prop="desc">
            <a-input v-model="review" type="textarea" />
          </a-form-model-item>
          <a-button type="primary" @click="submitComment">
            Submit
          </a-button>
        </div>

        <div class="col-6"></div>
      </div>
      <comments
        :comments_wrapper_classes="['custom-scrollbar', 'comments-wrapper']"
        :comments="comments"
      ></comments>
    </div>
  </b-container>
</template>
<script>
import Comments from "../components/Comments";
import Vue from "vue";
import StarRating from "vue-star-rating";
Vue.use(StarRating);

import { mapGetters } from "vuex";
export default {
  components: {
    Comments,
    StarRating
  },
  data() {
    return {
      likes: 15,
      creator: {
        avatar: "http://via.placeholder.com/100x100/a74848",
        user: "exampleCreator"
      },
      rating: 1,
      ratingSelected: null,
      review: "",
      comments: [],
      item: null,
      selecteditem: {
        format: "",
        price: null
      },
      quantity: 1,
      rank: {
        star1: 0,
        star2: 0,
        star3: 0,
        star4: 0,
        star5: 0,
        total: 0
      }
    };
  },
  // components: {
  //   "vue-confirm-dialog": VueConfirmDialog
  // },
  computed: {
    ...mapGetters({
      getProductIncart: "GET_PRODUCT_IN_CART"
    })
  },
  async created() {
    try {
      var pathArray = window.location.pathname.split("/");
      let result;
      if (this.$store.state.user.user) {
        result = await this.$axios.get(`/api/v1/books/getone/${pathArray[2]}`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.user.user.token}`
          }
        });
        this.item = result.data;
        this.$nextTick(function() {
          console.log(this.$refs.index[0].classList.add("hover"));
        });
      } else {
        result = await this.$axios.get(`/api/v1/books/getone/${pathArray[2]}`);
        this.item = result.data;
        this.$nextTick(function() {
          console.log(this.$refs.index[0].classList.add("hover"));
        });
      }
      this.selecteditem.format = this.item.prices[0].format;
      this.selecteditem.price = this.item.prices[0].price;
      this.item.comments.forEach(comment => {
        this.comments.push({
          author: `${comment.author.name.first} ${comment.author.name.last}`,
          comment: comment.comment,
          rank: comment.rank
        });
      });
      this.item.ranks.forEach(rank => {
        switch (rank.rank) {
          case 1: {
            this.rank.star1 = rank.quantity;
            this.rank.total += rank.quantity;
            break;
          }
          case 2: {
            this.rank.star2 = rank.quantity;
            this.rank.total += rank.quantity;
            break;
          }
          case 3: {
            this.rank.star3 = rank.quantity;
            this.rank.total += rank.quantity;
            break;
          }
          case 4: {
            this.rank.star4 = rank.quantity;
            this.rank.total += rank.quantity;
            break;
          }
          case 5: {
            this.rank.star5 = rank.quantity;
            this.rank.total += rank.quantity;
            break;
          }
          default:
            break;
        }
      });
    } catch (error) {
      console.log(error.response);
    }
  },
  methods: {
    selectFormat(price, index) {
      for (let i = 0; i < this.$refs.index.length; i++) {
        if (i == index) {
          this.$refs.index[i].classList.add("hover");
          console.log(this.$refs.index[i]);
        } else {
          this.$refs.index[i].classList.remove("hover");
        }
      }
      this.selecteditem.format = price.format;
      this.selecteditem.price = price.price;
    },
    async addCart() {
      const payload = {
        ...this.selecteditem,
        image: this.item.image,
        productId: this.item.id,
        name: this.item.name,
        author: this.item.author.name,
        discount: this.item.discount,
        quantity: this.quantity
      };
      const data = await this.$store.dispatch(
        "cart/ACTION_ADD_PRODUCT",
        payload
      );
      this.$refs.dialog[0].show();
    },
    checkout() {
      this.$router.push("/cart");
    },
    submitComment: async function() {
      console.log(this.ratingSelected);
      console.log(this.review);
      console.log(this.item);
      try {
        const result = await this.$axios.post(
          `api/v1/comment/${this.item.id}/comments`,
          {
            comment: this.review,
            rank: this.ratingSelected,
            bookId: this.item.id
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
      } catch (error) {}
    },
    async addWhishlist(item) {
      try {
        const result = await this.$axios.post(
          `/api/v1/books/${item.id}/favorites`,
          {},
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
      } catch (error) {}
    }
  }
};
</script>
<style lang="scss" scope="">
.book-detail-image {
  height: 20em;
  width: 15rem;
}
.book-detail-button {
  width: 25em;
  height: 3em;
  background-color: #be2049;
  border-radius: 2.3em;
}
.bookFormat {
  color: #573ba3;
  font-size: 18px;
  overflow: hidden;
}
.text-through {
  text-decoration: line-through;
  color: #de2454;
}
.book-detail-black-color {
  color: black;
  border: none;
  background: none;
}
.book-detail-text-align {
  text-align: right;
  color: #818486;
}
.book-detail {
  background: #f5f6f7;
  padding: 20px;
  margin-left: 20px;
  border: 2px solid #e1e1e3;
  &:hover {
    background: #f5f6f7;
  }
}
.hover {
  border: 2px solid #573ba3 !important;
  background: #f5f6f7;
}
.font-bold {
  color: #000;
  font-weight: bold;
}
.imgModal {
  img {
    width: 150px;
    object-fit: cover;
    border-radius: 3px;
    border: none;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0666667) 4%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(0, 0, 0, 0.0666667) 96%,
      rgba(0, 0, 0, 0.2) 100%
    );
    box-sizing: border-box;
  }
}
.butModal {
  border-radius: 999px;
}
.contentModal {
  padding: 20px;
  h4 {
    font-weight: bold;
    font-size: 20px;
  }
}
.comments-outside {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 30px;
}

.comments-header {
  background-color: #fff;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #333;
  min-height: 80px;
  font-size: 20px;
}

.comments-header .comments-stats span {
  margin-left: 10px;
}

.post-owner {
  display: flex;
  align-items: center;
}

.post-owner .avatar > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.post-owner .username {
  margin-left: 5px;
}

.post-owner .username > a {
  color: #333;
}
.wrap-rating {
  padding: 20px 30px;
}
.vue-star-rating {
  svg {
    height: 20px;
    width: 30px;
  }
}
</style>
