<template>
  <div class="wrap">
    <b-container>
      <div class="content-wrapper">
        <b-row>
          <b-col cols="12">
            <h3>Shopping Cart</h3>
          </b-col>
          <b-col cols="12 mt-5 text-right">
            <b-button @click="checkout">Checkout(Total: {{ total }})</b-button>
          </b-col>
        </b-row>
        <b-row v-if="getProductInCart">
          <b-col
            cols="12"
            md="12"
            sm="2"
            class="my-1"
            :key="index"
            v-for="(item, index) in getProductInCart"
          >
            <div class="book-item d-flex row">
              <div class="col-2">
                <nuxt-link to="/about">
                  <div class="cover-wrapper">
                    <img :src="item.image" alt="" />
                  </div>
                </nuxt-link>
              </div>
              <div class="col-6">
                <div class="item-info">
                  <h6>
                    <nuxt-link to="/about">
                      {{ item.name }}
                    </nuxt-link>
                  </h6>
                  <p class="author">{{ item.author.name }}</p>
                  <p class="text-gray" v-if="item.format == 'f1'">
                    PaperBack
                  </p>
                  <p class="text-gray" v-if="item.format == 'f2'">
                    Hard Cover
                  </p>
                  <p
                    class="text-gray"
                    v-if="item.format == 'f3'"
                    style="color: gray"
                  >
                    PaperBack
                  </p>
                  <div class="rating-wrap">
                    <div class="stars"></div>
                  </div>
                  <div class="price-wrap">
                    <p class="price"></p>
                  </div>
                  <div class="check"></div>
                </div>
              </div>
              <div class="col-1 mt-2">
                <span class="line-through">${{ item.price }}</span>
                <div class="discount">
                  <span class=""
                    >${{ Math.round(item.price * 100) / 100 }}</span
                  >
                </div>
              </div>
              <div class="col-3 mt-2">
                <div class="quantity">
                  <div class="d-flex">
                    <number-input
                      size="small"
                      v-model="quantityPerItem[index]"
                      :min="1"
                      :max="10"
                      inline
                      controls
                    ></number-input>
                    <div class="trash" @click="removecart(index)">
                      <i class="fas fa-trash"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from "vue";
import VueNumberInput from "@chenfengyuan/vue-number-input";

Vue.use(VueNumberInput);
export default {
  name: "MyBootstrapGrid",
  data() {
    return {
      total: 11,
      paginatedItems: [],
      currentPage: 1,
      perPage: 2,
      // quantityPerItem: Array(100).fill(1),
      quantityPerItem: Array(100).fill(1),
      value: 1
    };
  },
  computed: {
    ...mapGetters({
      getProductInCart: "GET_PRODUCT_IN_CART"
    })
  },
  watch: {
    async quantityPerItem() {
      let map = [];
      let total = 0;
      this.getProductInCart.forEach(async (element, index) => {
        const data = {
          id: element.productId,
          quantity: this.quantityPerItem[index],
          format: element.format
        };
        element.price = await this.getPriceByQuantity(data);
        element.quantity = this.quantityPerItem[index];
        total += element.price;
        map = {
          id: element.productId,
          quantity: element.quantity
        };
        console.log("map", map);
        this.$store.dispatch("cart/ACTION_SAVE_QUANTITY", map);
        if (index == this.getProductInCart.length - 1) {
          this.total = total;
          // await this.$store.dispatch(
          //   "cart/ACTION_SET_PRODUCT_CHECKOUT",
          //   this.getProductInCart
          // );
        }
      });
    },
    getProductInCart() {
      this.getProductInCart.forEach((product, index) => {
        this.quantityPerItem[index] = product.quantity;
      });
    }
  },
  methods: {
    ...mapActions({
      removeProductInCart: "cart/ACTION_REMOVE_PRODUCT"
    }),
    onPageChanged(page) {
      this.paginate(this.perPage, page - 1);
    },

    removecart(index) {
      this.removeProductInCart(index);
    },
    async getPriceByQuantity(data) {
      console.log(data);
      const result = await this.$axios.post("/api/v1/order/price", {
        id: data.id,
        quantity: data.quantity,
        format: data.format
      });
      return result.data;
    },
    checkout() {
      this.$router.push("/checkout/address");
    }
  },
  mounted() {},
  async created() {
    this.$store.dispatch("cart/ACTION_SET_PRODUCT");
    // this.getProductInCart.forEach(data => {
    //   console.log("data cart", data);
    // });
  }
};
</script>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");
.book-item {
  width: 100%;
  height: 300px;
  margin: 1rem 0;
  padding: 0 1rem;
  border-top: 1px solid #e1e1e3;
  padding: 20px 20px;
  img {
    width: 123px;
    height: 187px;
    object-fit: contain;
    border-radius: 3px;
  }
  .cover-wrapper {
    background-color: #f6f5f7;
    position: relative;
  }
}
.text-gray {
  color: gray;
}
.trash {
  margin-left: 12px;
  i {
    font-size: 22px;
    cursor: pointer;
  }
}
.content-wrapper {
  padding: 50px 100px;
  button {
    background: #de2454;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    box-shadow: 1px 1px 5px 0px rgba(67, 0, 17, 0);
    color: rgba(255, 255, 255, 1);
  }
}
.item-info {
  h6 {
    font-size: 20px;
    a {
      color: #2b0f42;
      font-family: "Overpass Mono", monospace;
    }
  }
}
.line-through {
  text-decoration: line-through;
  color: #de2454;
  font-weight: bold;
  font-size: 18px;
}
</style>
