<template>
  <div class="content-wrapper">
    <b-container>
      <b-row>
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/287/original/IndieBound-logo-RedBlack-177x180.jpg?1580418894"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>New Release books Indie nestlist</h2></b-col
        >
        <b-col cols="4" class="d-flex align-items-center">
          <b-button
            variant="danger"
            class="button-list"
            @click="viewList(newRelease)"
            >View list ({{ newRelease.length }} books)</b-button
          >
        </b-col>
      </b-row>

      <b-row v-if="newRelease.length > 0">
        <VueSlickCarousel v-bind="slickOptions" class="img-wrapper">
          <div
            class="img-wrapper"
            v-for="(child, index) in newRelease"
            :key="index"
          >
            <nuxt-link :to="{ path: `/book/${child.slug}` }">
              <img :src="child.image" alt="" />
            </nuxt-link>
          </div>
        </VueSlickCarousel>
      </b-row>

      <b-row v-if="recentlyViewer.length > 0">
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/2644/original/Black_Line_Logo.jpg?1585937307"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>Recently BookViewer</h2></b-col
        >
      </b-row>

      <b-row>
        <div class="bookcards">
          <div
            class="bookcardItem"
            v-for="(item, index) in recentlyViewer"
            :key="index"
          >
            <div class="bookItem">
              <nuxt-link :to="{ path: `/book/${item.slug}` }">
                <div class="product-image">
                  <img :src="item.image" alt="" />
                </div>
              </nuxt-link>
            </div>
            <div class="bookContent">
              <h6 class="bookTitle">
                <nuxt-link :to="{ path: `book/${item.slug}` }">
                  {{ item.name }}
                </nuxt-link>
              </h6>
              <p>{{ item.author.name }}</p>
              <div class="inline-flex">
                <div class="line-through">${{ item.prices[0].price }}</div>
                <div class="mx-2">
                  <span v-if="item.discount" style="font-weight:bold"
                    >${{
                      Math.round(item.prices[0].price * item.discount * 100) /
                        100
                    }}</span
                  >
                  <span v-else style="font-weight: bold"
                    >${{ item.prices[0].price }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-row>

      <b-row class="mt-5">
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/6092/original/amb-logo-glow-v2-1000pxcp.jpg?1588688343"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>Best Viewer Tuesday! August 4,2020</h2></b-col
        >
      </b-row>
      <b-row>
        <VueSlickCarousel
          v-bind="slickOptions"
          class="img-wrapper"
          v-if="bestViewer.length > 0"
        >
          <div
            class="img-wrapper"
            v-for="(child, index) in bestViewer"
            :key="index"
          >
            <nuxt-link :to="{ path: `/book/${child.slug}` }">
              <img :src="child.image" alt="" />
            </nuxt-link>
          </div>
        </VueSlickCarousel>
      </b-row>

      <b-row>
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/8261/original/iconC_%281%29.jpg?1591051508"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>Anti-Racist Best Rank Of Books</h2></b-col
        >
      </b-row>
      <b-row>
        <div class="bookcards">
          <div
            class="bookcardItem"
            v-for="(item, index) in bestRank"
            :key="index"
          >
            <div class="bookItem">
              <nuxt-link to="/about">
                <div class="product-image">
                  <img :src="item.image" alt="" />
                </div>
              </nuxt-link>
            </div>
            <div class="bookContent">
              <h6 class="bookTitle">
                <nuxt-link :to="{ path: `/book/${item.slug}` }">
                  {{ item.name }}
                </nuxt-link>
              </h6>
              <p>{{ item.author.name }}</p>
              <div class="inline-flex">
                <div class="line-through">
                  $27.00$
                </div>
                <div class="mx-2">
                  $24.00$
                </div>
              </div>
              <span
                class="fa fa-star checked"
                v-for="n in Math.round(item.avgRank)"
                :key="n"
              ></span>
              <span
                class="fa fa-star"
                v-for="n in 5 - Math.round(item.avgRank)"
                :key="n"
              ></span>
            </div>
          </div>
        </div>
      </b-row>

      <b-row class="mt-5">
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/6092/original/amb-logo-glow-v2-1000pxcp.jpg?1588688343"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>Best Children Books</h2></b-col
        >
      </b-row>
      <b-row>
        <VueSlickCarousel
          v-bind="slickOptions"
          class="img-wrapper"
          v-if="children.length > 0"
        >
          <div
            class="img-wrapper"
            v-for="(child, index) in children"
            :key="index"
          >
            <nuxt-link :to="{ path: `/book/${child.slug}` }">
              <img :src="child.image" alt="" />
            </nuxt-link>
          </div>
        </VueSlickCarousel>
      </b-row>

      <b-row>
        <b-col cols="1">
          <a href="https://bookshop.org/shop/indiebound">
            <img
              class="avatar-light"
              src="https://images-production.bookshop.org/spree/affiliate_profiles/profile_images/8261/original/iconC_%281%29.jpg?1591051508"
            />
          </a>
        </b-col>
        <b-col cols="6" class="d-flex align-items-center"
          ><h2>Best Selling</h2></b-col
        >
      </b-row>
      <b-row>
        <div class="bookcards">
          <div
            class="bookcardItem"
            v-for="(item, index) in bestPrice"
            :key="index"
          >
            <div class="bookItem">
              <nuxt-link to="/about">
                <div class="product-image">
                  <img :src="item.image" alt="" />
                </div>
              </nuxt-link>
            </div>
            <div class="bookContent">
              <h6 class="bookTitle">
                <nuxt-link :to="{ path: `/book/${item.slug}` }">
                  {{ item.name }}
                </nuxt-link>
              </h6>
              <p>{{ item.author.name }}</p>
              <div class="inline-flex">
                <div class="line-through">${{ item.prices[0].price }}</div>
                <div class="mx-2">
                  <span v-if="item.discount" style="font-weight:bold"
                    >${{
                      Math.round(item.prices[0].price * item.discount * 100) /
                        100
                    }}</span
                  >
                  <span v-else style="font-weight: bold"
                    >${{ item.prices[0].price }}</span
                  >
                </div>
              </div>
              <span
                class="fa fa-star checked"
                v-for="n in Math.round(item.avgRank)"
                :key="n"
              ></span>
              <span
                class="fa fa-star"
                v-for="n in 5 - Math.round(item.avgRank)"
                :key="n"
              ></span>
            </div>
          </div>
        </div>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  name: "contentWrapper",
  data() {
    return {
      children: [],
      art: [],
      bestViewer: [],
      newRelease: [],
      recentlyViewer: [],
      bestPrice: [],
      bestRank: [],
      slickOptions: {
        arrows: false,
        dots: false,
        infinite: true,
        initialSlide: 2,

        speed: 500,
        slidesToShow: 5,
        slidesToScroll: 1,
        swipeToSlide: true
      }
    };
  },
  async created() {
    try {
      const chilrenBook = await this.$axios.get(
        "api/v1/books/?filter=category.name ||$eq||Children's books by age range&limit=9"
      );
      const Art = await this.$axios.get(
        "api/v1/books/?filter=category.name ||$eq||art-and-photography-1597404979531"
      );

      const newRelease = await this.$axios.get(
        "/api/v1/books?sort=createdAt,DESC&limit=20"
      );
      const bestViewer = await this.$axios.get(
        "/api/v1/books?sort=viewer,DESC&limit=9"
      );

      const bestRank = await this.$axios.get(
        "/api/v1/books?sort=avgRank,DESC&limit=9"
      );

      const bestPrice = await this.$axios.get(
        "/api/v1/books?sort=prices.price,DESC&limit=9"
      );
      if (this.$store.state.user.user) {
        const recentlyViewer = await this.$axios.get(
          "/api/v1/books/recent/book?limit=10",
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.recentlyViewer = recentlyViewer.data;
      }
      this.children = chilrenBook.data;
      this.art = Art.data;
      this.bestViewer = bestViewer.data;
      this.newRelease = newRelease.data;
      this.bestRank = bestRank.data;
      this.bestPrice = bestPrice.data;
    } catch (error) {}
  },
  async mounted() {},
  methods: {
    viewList(data) {
      this.$router.push(`/book/NewRelease`);
    }
  }
};
</script>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@600&family=Supermercado+One&display=swap");
.content-wrapper {
  margin-top: 5rem;
}
.bookcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  border-color: #e1e1e3;
  border-style: solid;
  border-width: 0;
}
.avatar-light {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
}
.checked {
  color: orange;
}
.item-info {
  h6 {
    padding-top: 0.5rem;
    width: 100%;
    overflow: hidden;
    a {
      color: #2c293b;
      font-weight: bold;
    }
  }
  p {
    color: #4d4d4d;
    overflow: hidden;
    line-height: 2rem;
  }
}

.rating-wrap {
  margin: -1rem auto;
}
.button-list {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}
.img-wrapper {
  width: 100%;
  height: 500px;
  margin: 1rem 0;
  img {
    width: 90%;
    height: 400px;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 10px;
    object-fit: cover;
    &:hover {
      box-shadow: 0px 11px 18px rgba(0, 0, 0, 0.3);
      transform: scale(1.025);
    }
  }
}
.book-item {
  width: 100%;
  height: 300px;
  margin: 1rem 0;
  padding: 0 1rem;
  background: #f6f5f7;
  border-width: 1px;
}
.bookContent {
  padding: 1rem;
}
.line-through {
  text-decoration: line-through;
  color: #de2454;
}
.btn-wrap {
  text-align: left;
  button {
    margin-top: -1rem;
    background: #de2454;
    border: none;
    width: 200px;
    border-radius: 999px;
    // padding: 1rem 2rem;
  }
}
.inline-flex {
  display: inline-flex;
}
.price-wrap {
  margin-top: 1rem;
  p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #ff0072;
    font-weight: bold;
  }
}
.bookcardItem {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bookcards {
  margin: 0 auto;
}
.star {
  position: relative;
  width: 1.4rem;
  font-size: 1.4rem;
  &:before {
    color: #fed221;
    position: absolute;
    left: 0;
    overflow: hidden;
    float: none;
    content: "✭";
  }
}
.align-items-center {
  button {
    width: 220px;
    border-radius: 999px;
    font-weight: bold;
    margin-left: 100px;
  }
  h2 {
    font-weight: bold;
    font-family: "Overpass", sans-serif;
    color: #2b0f42;
  }
}
.product-image {
  img {
    width: 100px;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0666667) 4%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(0, 0, 0, 0.0666667) 96%,
      rgba(0, 0, 0, 0.2) 100%
    );
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
  }
}
.bookTitle {
  font-weight: bold;
}
</style>
