<template>
  <div>
    <b-button @click="createItem" class="mb-2" variant="primary" size="sm"
      >Create</b-button
    >
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="statusAleart"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ this.message }}
    </b-alert>
    <b-table
      striped
      hover
      :items="tableData"
      :fields="columns"
      selectable
      :select-mode="mode"
      responsive="sm"
    >
      <template #cell(action)="data">
        <div v-if="data.item.role != 'Admin'">
          <b-button @click="editItem(data)" variant="primary" size="sm"
            >Edit</b-button
          >
          <b-button
            @click="deleteItem(data)"
            v-b-modal="'edit-modal'"
            variant="danger"
            size="sm"
            >Delete</b-button
          >
        </div>
      </template>
    </b-table>

    <b-modal v-model="modalShow" :title="formTitle" hide-footer>
      <b-form @submit.prevent="save">
        <slot :formdata="editedItem" name="input-fields"> </slot>

        <b-button size="sm" variant="danger" @click="close">
          Cancel
        </b-button>

        <b-button type="submit" size="sm" variant="success">
          Submit
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
// import "sweetalert2/dist/sweetalert2.min.css";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  props: ["endpoint", "columns", "formFields", "data"],
  data() {
    return {
      message: "",
      statusAleart: "",
      dismissCountDown: 0,
      editedItem: this.formFields,
      modalShow: false,
      editedIndex: -1,
      tableData: [{ Name: "abcd" }],
      perPage: 10,
      currentPage: 1,
      mode: "multi",
      row: {
        item: {
          check: []
        }
      }
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  methods: {
    createItem() {
      this.modalShow = true;
      this.editedItem = Object.assign({}, this.formFields);
      this.editedIndex = -1;
    },
    onPreviewClick(event, index, data) {
      console.log(event);
    },
    editItem(item) {
      this.modalShow = true;
      this.editedIndex = this.tableData.indexOf(item);
      this.editedItem = Object.assign({}, item.item);
      this.editedItem.gender = this.editedItem.gender == "Male" ? true : false;
      this.editedItem.role =
        this.editedItem.role == "Admin"
          ? 1
          : this.editedItem.role == "Moderator"
          ? 2
          : 3;
    },
    async initialData() {
      try {
        const result = await this.$axios.get(
          `/api/v1/users?limit=${this.perPage}&page=${this.currentPage}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        const map = [];
        result.data.data.forEach(user => {
          map.push({
            id: user.id,
            name: `${user.name.first} ${user.name.last}`,
            email: user.email,
            username: user.username,
            gender: user.gender ? "Male" : "Female",
            phone: user.phone,
            birthday: user.birthday,
            role: user.role.role,
            createdAt: user.createdAt,
            isActive: user.deletedAt
              ? "<span class='err'>Expired</span>"
              : "Active",
            profile: user.profile
          });
          this.tableData = map;
        });
      } catch (error) {
        console.log(error.response);
      }
    },
    async deleteItem(item) {
      try {
        const result = await this.$axios.delete(
          `api/v1/users/${item.item.id}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.initialData();
      } catch (error) {
        this.message = error.response.data.message;
        this.statusAleart = "danger";
        this.dismissCountDown = 3;
      }
    },
    close() {
      this.modalShow = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.formFields);
        this.editedIndex = -1;
      }, 300);
    },
    async save() {
      try {
        const result = await this.$axios.put(
          `/api/v1/users/updateOne/${this.editedItem.id}`,
          {
            name: {
              last: this.editedItem.name
            },
            gender: this.editedItem.gender,
            phone: this.editedItem.phone,
            roleId: this.editedItem.role
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        Vue.swal({
          title: "Update Sucessfully",
          icon: "success"
        });
        this.close();
      } catch (error) {
        Vue.swal({
          title: "UnAuthorized! referer to admininstrator",
          icon: "danger"
        });
      }
    }
  },
  async created() {
    await this.initialData();
  }
};
</script>
<style lang="scss" scoped>
.err {
  color: red;
}
</style>
