<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="statusAleart"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ this.message.error }}
    </b-alert>
    <b-button @click="createItem" class="mb-2" variant="primary" size="sm"
      >Create</b-button
    >

    <b-table
      striped
      hover
      :items="tableData"
      :fields="columns"
      selectable
      :select-mode="mode"
      responsive="sm"
    >
      <template #cell(selected)="data">
        <b-form-checkbox
          v-model="row.item.check"
          @input="onPreviewClick($event, row.index, data)"
        ></b-form-checkbox>
      </template>
      <template #cell(action)="data">
        <div>
          <b-button @click="editItem(data)" variant="primary" size="sm"
            >Edit</b-button
          >
          <b-button
            @click="deleteItem(data)"
            v-b-modal="'edit-modal'"
            variant="danger"
            size="sm"
            >Delete</b-button
          >
        </div>
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>
    <b-modal v-model="modalShow" :title="formTitle" hide-footer>
      <b-form @submit.prevent="save">
        <slot :formdata="editedItem" name="input-fields"> </slot>

        <b-button size="sm" variant="danger" @click="close">
          Cancel
        </b-button>

        <b-button type="submit" size="sm" variant="success">
          Submit
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
// import "sweetalert2/dist/sweetalert2.min.css";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  props: ["endpoint", "columns", "formFields", "data"],
  data() {
    return {
      statusAleart: "danger",
      message: {
        error: ""
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      editedItem: this.formFields,
      modalShow: false,
      editedIndex: -1,
      tableData: [],
      perPage: 10,
      currentPage: 1,
      mode: "multi",
      row: {
        item: {
          check: []
        }
      },
      rows: null
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  methods: {
    createItem() {
      this.modalShow = true;
      this.editedItem = Object.assign({}, this.formFields);
      this.editedIndex = -1;
    },
    onPreviewClick(event, index, data) {
      console.log(event);
    },
    editItem(item) {
      this.modalShow = true;
      this.editedIndex = this.tableData.indexOf(item);
      this.editedItem = Object.assign({}, item.item);
    },
    async deleteItem(item) {
      try {
        const result = await this.$axios.delete(
          `api/v1/categories/${item.item.slug}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.dismissCountDown = this.dismissSecs;
        this.statusAleart = "success";
        this.message.error = `Deleted Sucessfully`;
        this.InitialData();
      } catch (error) {
        this.dismissCountDown = this.dismissSecs;
        this.statusAleart = "danger";
        this.message.error = `Deleted Category Failed! ${error.response.data.message}`;
      }
    },
    async InitialData() {
      try {
        const map = [];
        const result = await this.$axios.get(
          `/api/v1/categories?limit=${this.perPage}&page=${this.currentPage}`
        );
        this.rows = result.data.total;
        result.data.data.forEach(cate => {
          map.push({
            name: cate.name,
            slug: cate.slug,
            createdAt: cate.createdAt,
            author: `${cate.user.name.first} ${cate.user.name.last}`
          });
        });
        this.tableData = map;
      } catch (error) {
        console.log(error.response);
      }
    },
    close() {
      this.modalShow = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.formFields);
        this.editedIndex = -1;
      }, 300);
    },
    async save() {
      try {
        const result = await this.$axios.patch(
          `/api/v1/categories/${this.editedItem.slug}`,
          {
            slug: this.editedItem.slug
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        // this.close();
      } catch (error) {
        console.log("error", error);
        Vue.swal({
          title: "Unauthorized",
          icon: "error"
        });
      }
    }
  },
  async created() {
    try {
      const map = [];
      const result = await this.$axios.get(
        `/api/v1/categories?limit=${this.perPage}&page=${this.currentPage}`
      );
      this.rows = result.data.total;
      result.data.data.forEach(cate => {
        map.push({
          name: cate.name,
          slug: cate.slug,
          createdAt: cate.createdAt,
          author: `${cate.user.name.first} ${cate.user.name.last}`
        });
      });
      console.log("map", map);
      this.tableData = map;
      console.log("here", result);
    } catch (error) {
      console.log(error.response);
    }
  },
  watch: {
    currentPage() {
      this.InitialData();
    }
  }
};
</script>
<style lang="scss" scoped>
.err {
  color: red;
}
.pagination {
  justify-content: center;
}
</style>
