<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="statusAleart"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ this.message }}
    </b-alert>
    <b-table
      striped
      hover
      :items="data"
      :fields="columns"
      selectable
      :select-mode="mode"
      responsive="sm"
    >
      <template #cell(action)="data">
        <div v-if="data.item.role != 'Admin'">
          <b-button @click="restore(data)" variant="danger" size="sm"
            >Restore</b-button
          >
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
import Vue from "vue";
// import "sweetalert2/dist/sweetalert2.min.css";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  props: ["endpoint", "columns", "formFields", "data"],
  data() {
    return {
      message: "",
      statusAleart: "",
      dismissCountDown: 0,
      editedItem: this.formFields,
      modalShow: false,
      editedIndex: -1,
      tableData: [{ Name: "abcd" }],
      perPage: 10,
      currentPage: 1,
      mode: "multi",
      row: {
        item: {
          check: []
        }
      }
    };
  },
  methods: {
    async restore(data) {
      try {
        const result = await this.$axios.patch(
          `/api/v1/users/${data.item.id}`,
          {},
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );

        this.$router.router.go("/admin/user/inactive");
      } catch (error) {
        this.message = error.response.data.message;
        this.statusAleart = "danger";
        this.dismissCountDown = 3;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.err {
  color: red;
}
</style>
