<template>
  <div>
    <b-button @click="createItem" class="mb-2" variant="primary" size="sm"
      >Order Product</b-button
    >

    <b-table
      striped
      hover
      :items="tableData"
      :fields="columns"
      selectable
      :select-mode="mode"
      responsive="sm"
    >
      <template #cell(selected)="data">
        <b-form-checkbox
          v-model="row.item.check"
          @input="onPreviewClick($event, row.index, data)"
        ></b-form-checkbox>
      </template>
      <template #cell(action)="data">
        <div v-if="data.item.username != 'admin'">
          <b-button @click="editItem(data)" variant="primary" size="sm"
            >Edit</b-button
          >
          <b-button
            @click="deleteItem(data)"
            v-b-modal="'edit-modal'"
            variant="danger"
            size="sm"
            >Delete</b-button
          >
        </div>
      </template>
    </b-table>

    <b-modal v-model="modalShow" :title="formTitle" hide-footer>
      <b-form @submit.prevent="save">
        <slot :formdata="editedItem" name="input-fields"> </slot>

        <b-button size="sm" variant="danger" @click="close">
          Cancel
        </b-button>

        <b-button type="submit" size="sm" variant="success">
          Submit
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
// import "sweetalert2/dist/sweetalert2.min.css";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  props: ["endpoint", "columns", "formFields", "data"],
  data() {
    return {
      editedItem: this.formFields,
      modalShow: false,
      editedIndex: -1,
      tableData: [],
      perPage: 10,
      currentPage: 1,
      mode: "multi",
      row: {
        item: {
          check: []
        }
      }
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  methods: {
    createItem() {
      this.modalShow = true;
      this.editedItem = Object.assign({}, this.formFields);
      this.editedIndex = -1;
    },
    onPreviewClick(event, index, data) {
      console.log(event);
    },
    editItem(item) {},
    async deleteItem(item) {},
    close() {},
    async save() {}
  },
  async created() {}
};
</script>
<style lang="scss" scoped>
.err {
  color: red;
}
</style>
