<template>
  <div>
    <header class="productList">
      <div class="measure">
        <img
          src="https://images-production.bookshop.org/spree/lists/hero_images/38833/original/The-Word-Logo-Matching.jpg?1596290668"
          alt=""
        />
      </div>
    </header>
    <div class="content-wrapper">
      <b-row>
        <b-col cols="2">
          <Tree :value="nodes" :filter="true" filterMode="lenient">
            <template #default="slotProps">
              <b>{{ slotProps.node.label }}</b>
            </template>
            <template #url="slotProps">
              <!-- <a :href="slotProps.node.data">{{ slotProps.node.label }}</a> -->
              <nuxt-link :to="{ path: `${slotProps.node.data}` }">{{
                slotProps.node.label
              }}</nuxt-link>
            </template>
          </Tree>
        </b-col>
        <b-col cols="9">
          <b-container>
            <b-row>
              <b-col
                cols="12"
                md="3"
                sm="2"
                class="my-1"
                :key="index"
                v-for="(item, index) in paginatedItems"
              >
                <div class="book-item">
                  <nuxt-link :to="{ path: `/book/${item.id}` }">
                    <div class="cover-wrapper">
                      <img :src="item.image" alt="" />
                    </div>
                  </nuxt-link>
                  <b-modal id="bv-modal-example" hide-footer ref="dialog">
                    <div class="d-flex">
                      <div class="imgModal">
                        <img :src="item.image" alt="" />
                      </div>
                      <div class="contentModal">
                        <h4>{{ item.name }}</h4>
                        <p>{{ item.author.name }}</p>
                      </div>
                    </div>
                    <b-button
                      class="mt-3 butModal"
                      block
                      @click="$bvModal.hide('bv-modal-example')"
                      >keep Shopping</b-button
                    >
                    <b-button
                      class="mt-3 butModal"
                      block
                      variant="danger"
                      @click="checkout"
                      >Checkout ({{ getProductInCart.length }}) items</b-button
                    >
                  </b-modal>
                  <div class="item-info">
                    <h6>
                      <nuxt-link :to="{ path: `/book/${item.id}` }">
                        {{ item.name }}
                      </nuxt-link>
                    </h6>
                    <p class="author">{{ item.author.name }}</p>
                    <div class="rating-wrap">
                      <div class="stars"></div>
                    </div>
                    <div class="price-wrap">
                      <p class="price line-through ">
                        ${{ item.prices[0].price }}
                      </p>
                      <p>
                        <span v-if="item.discount" style="font-weight:bold"
                          >${{
                            Math.round(
                              item.prices[0].price * item.discount * 100
                            ) / 100
                          }}</span
                        >
                        <span v-else style="font-weight:bold"
                          >${{
                            Math.round(item.prices[0].price * 100) / 100
                          }}</span
                        >
                      </p>
                    </div>
                    <div class="btn-wrap">
                      <b-button
                        variant="success"
                        @click="addProductToCart(item)"
                        >Add to Cart</b-button
                      >
                    </div>
                  </div>
                </div>
              </b-col>
            </b-row>

            <b-row class="mt-4">
              <b-col md="6" class="my-1">
                <b-pagination
                  :total-rows="totalRows"
                  :per-page="perPage"
                  v-model="currentPage"
                />
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: ["header"],
  name: "productContent",
  data() {
    return {
      paginatedItems: [],
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      nodes: [
        {
          key: "0",
          label: "Introduction",
          children: [
            {
              key: "0-0",
              label: "What is Vue.js?",
              data: "https://vuejs.org/v2/guide/#What-is-Vue-js",
              type: "url"
            },
            {
              key: "0-1",
              label: "Getting Started",
              data: "https://vuejs.org/v2/guide/#Getting-Started",
              type: "url"
            },
            {
              key: "0-2",
              label: "Declarative Rendering",
              data: "https://vuejs.org/v2/guide/#Declarative-Rendering",
              type: "url"
            },
            {
              key: "0-3",
              label: "Conditionals and Loops",
              data: "https://vuejs.org/v2/guide/#Conditionals-and-Loops",
              type: "url"
            }
          ]
        },
        {
          key: "1",
          label: "Components In-Depth",
          children: [
            {
              // key: "1-0",
              label: "Component Registration",
              data: "https://vuejs.org/v2/guide/components-registration.html",
              type: "url"
            },
            {
              // key: "1-1",
              label: "Props",
              data: "https://vuejs.org/v2/guide/components-props.html",
              type: "url"
            },
            {
              // key: "1-2",
              label: "Custom Events",
              data: "https://vuejs.org/v2/guide/components-custom-events.html",
              type: "url"
            },
            {
              key: "1-3",
              label: "Slots",
              data: "https://vuejs.org/v2/guide/components-slots.html",
              type: "url"
            }
          ]
        }
      ]
    };
  },
  computed: {
    ...mapGetters({
      getProductInCart: "GET_PRODUCT_IN_CART"
    })
  },
  methods: {
    async addProductToCart(product) {
      const payload = {
        format: product.prices[0].format,
        price: product.prices[0].price,
        image: product.image,
        productId: product.id,
        name: product.name,
        author: product.author.name,
        discount: product.discount,
        quantity: 1
      };
      await this.$store.dispatch("cart/ACTION_ADD_PRODUCT", payload);
      this.$refs.dialog[0].show();
    }
  },
  mounted() {},
  async created() {
    try {
      const map = [];
      const categories = await this.$axios.get("/api/v1/categories/all");

      categories.data.forEach((cate, index) => {
        const objectCate = {
          key: `${index}`,
          label: cate.name,
          data: `/category/${cate.slug}`,
          children: []
        };
        if (cate.children.length > 0) {
          cate.children.forEach((childcate, indexChild) => {
            const objectChilCate = {
              key: `${index}-${indexChild}`,
              label: childcate.name,
              data: `/category/${childcate.slug}`,
              type: "url",
              children: []
            };
            if (childcate.children.length > 0) {
              childcate.children.forEach((grandChildcate, indexGrand) => {
                console.log("grand", grandChildcate);
                objectChilCate.children.push({
                  key: `${indexChild}-${indexGrand}`,
                  label: grandChildcate.name,
                  data: `/category/${grandChildcate.slug}`,
                  type: "url",
                  children: []
                });
              });
            }
            objectCate.children.push(objectChilCate);
          });
        }
        map.push(objectCate);
      });
      this.nodes = map;
      const result = await this.$axios.get(
        `/api/v1/books?filter=available||$eq||true&fields=name,image,id,author,prices&page=${this.currentPage}&limit=${this.perPage}`
      );
      this.paginatedItems = result.data.data;
      this.totalRows = result.total;
      console.log(result);
    } catch (error) {
      console.log(error);
    }
  }
};
</script>
<style lang="scss" scoped>
.book-item {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0 2rem;
  img {
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.0666667) 4%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(0, 0, 0, 0.0666667) 96%,
      rgba(0, 0, 0, 0.2) 100%
    );
    width: 90%;
    height: 300px;
    object-fit: contain;
    border-radius: 3px;
    margin: 0 auto;
    vertical-align: middle;
  }
  .cover-wrapper {
    background-color: #f6f5f7;
    position: relative;
    text-align: center;
  }
}
.item-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  h6 {
    font-weight: bold;
    padding-top: 0.5rem;
    width: 100%;
    overflow: hidden;
    a {
      color: #333;
    }
  }
  p {
    color: #4d4d4d;
    overflow: hidden;
    line-height: 2rem;
  }
}
.line-through {
  text-decoration: line-through;
  color: #de2454;
}
.ant-modal-content {
  width: 100px;
  background: red;
}
.btn-wrap {
  text-align: left;
  button {
    margin-top: -1rem;
    background: #de2454;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    padding: 10px 50px;
    &:hover {
      box-shadow: 1px 7px 13px 0px rgba(67, 0, 17, 0.13);
      transform: scale(1.02);
    }
    // padding: 1rem 2rem;
  }
}
.price-wrap {
  .price {
    color: #de2454;
  }
}
.productList {
  height: 25rem;
  background: #573ba3;
  overflow: hidden;
  .measure {
    max-width: 1024px;
    margin: 0 auto;
    img {
      object-fit: cover;
      width: 50%;
    }
  }
}
</style>
