<template>
  <div class="comment">
    <div class="avatar">
      <img :src="comment.avatar" alt="" />
    </div>
    <div class="text">
      <p class="author">{{ comment.author }}</p>
      <span class="fa fa-star checked" v-for="n in comment.rank" :key="n">
      </span>
      <span class="fa fa-star" v-for="n in 5 - comment.rank" :key="n"></span>
      <span>{{ comment.comment }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "singleComment",
  props: ["comment"]
};
</script>

<style scoped>
/* Single-comment component */
.comment {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.comment .avatar {
  align-self: flex-start;
}

.comment .avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-self: start;
}

.comment .text {
  text-align: left;
  margin-left: 5px;
}

.comment .text span {
  margin-left: 5px;
}

.comment .text .username {
  font-weight: bold;
  color: #333;
}
.checked {
  color: orange;
}
.author {
  font-weight: bold;
  margin-left: 10px;
}
</style>
