<template>
  <div>
    <b-button @click="createItem" class="mb-2" variant="primary" size="sm"
      >Create</b-button
    >

    <b-table
      striped
      hover
      :items="tableData"
      :fields="columns"
      selectable
      :select-mode="mode"
      responsive="sm"
    >
      <template #cell(selected)="data">
        <b-form-checkbox
          v-model="row.item.check"
          @input="onPreviewClick($event, row.index, data)"
        ></b-form-checkbox>
      </template>
      <template #cell(action)="data">
        <div v-if="data.item.username != 'admin'">
          <b-button @click="editItem(data)" variant="primary" size="sm"
            >Edit</b-button
          >
          <b-button
            @click="deleteItem(data)"
            v-b-modal="'edit-modal'"
            variant="danger"
            size="sm"
            >Delete</b-button
          >
        </div>
      </template>
    </b-table>

    <b-modal v-model="modalShow" :title="formTitle" hide-footer>
      <b-form @submit.prevent="save">
        <slot :formdata="editedItem" name="input-fields"> </slot>

        <b-button size="sm" variant="danger" @click="close">
          Cancel
        </b-button>

        <b-button type="submit" size="sm" variant="success">
          Submit
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
// import "sweetalert2/dist/sweetalert2.min.css";
// import VueSweetalert2 from "vue-sweetalert2";
// Vue.use(VueSweetalert2);
export default {
  props: ["endpoint", "columns", "formFields", "data"],
  data() {
    return {
      editedItem: this.formFields,
      modalShow: false,
      editedIndex: -1,
      tableData: [],
      perPage: 10,
      currentPage: 1,
      mode: "multi",
      row: {
        item: {
          check: []
        }
      }
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  methods: {
    createItem() {
      this.modalShow = true;
      this.editedItem = Object.assign({}, this.formFields);
      this.editedIndex = -1;
    },
    onPreviewClick(event, index, data) {
      console.log(event);
    },
    editItem(item) {
      this.modalShow = true;
      this.editedIndex = this.tableData.indexOf(item);
      this.editedItem = Object.assign({}, item.item);
      this.editedItem.gender = this.editedItem.gender == "Male" ? true : false;
      this.editedItem.role =
        this.editedItem.role == "Admin"
          ? 1
          : this.editedItem.role == "Moderator"
          ? 2
          : 3;
    },
    async deleteItem(item) {},
    close() {
      this.modalShow = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.formFields);
        this.editedIndex = -1;
      }, 300);
    },
    async save() {
      try {
        const result = await this.$axios.put(
          `/api/v1/users/updateOne/${this.editedItem.id}`,
          {
            name: {
              last: this.editedItem.name
            },
            gender: this.editedItem.gender,
            phone: this.editedItem.phone,
            roleId: this.editedItem.role
          }
        );
        this.close();
      } catch (error) {
        console.log(error.response);
      }
    }
  },
  async created() {
    try {
      const map = [];
      const result = await this.$axios.get(`/api/v1/tags`);
      console.log("res", result);
      if (result.data) {
        result.data.forEach(tag => {
          map.push({
            name: tag.name,
            slug: tag.slug,
            createdAt: tag.createdAt
          });
        });
      }
      this.tableData = map;
      console.log("here", map);
    } catch (error) {
      console.log(error);
    }
  }
};
</script>
<style lang="scss" scoped>
.err {
  color: red;
}
</style>
