<template>
  <div class="wrap">
    <b-container>
      <div class="content-wrapper">
        <b-row>
          <b-col cols="12">
            <h3>Whishlist</h3>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" md="12" sm="2" class="my-1">
            <div
              class="book-item d-flex row"
              v-for="(item, index) in data"
              :key="index"
            >
              <div class="col-2">
                <nuxt-link to="/about">
                  <div class="cover-wrapper">
                    <img :src="item.image" alt="" />
                  </div>
                </nuxt-link>
              </div>
              <div class="col-6">
                <div class="item-info">
                  <h6>
                    <nuxt-link :to="{ path: `/book/${item.slug}` }">
                      {{ item.name }}
                    </nuxt-link>
                  </h6>
                  <p class="author">Shane O'Mara</p>
                  <p class="text-gray" v-if="item.format == 'f1'">
                    PaperBack
                  </p>
                  <p class="text-gray" v-if="item.format == 'f2'">
                    HardCover
                  </p>
                  <p class="text-gray" v-if="item.format == 'f3'">
                    Compact Disk
                  </p>
                  <div class="rating-wrap">
                    <div class="stars">
                      <span
                        class="fa fa-star checked"
                        v-for="n in item.avgrank"
                        :key="n"
                      >
                      </span>
                      <span
                        class="fa fa-star"
                        v-for="n in 5 - item.avgrank"
                        :key="n"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="price-wrap">
                    <p class="price"></p>
                  </div>
                  <div class="check">
                    <i class="fas fa-check-circle" style="color: #1fa5a3">
                      {{ item.quantity }} remaining</i
                    >
                  </div>
                </div>
              </div>
              <div class="col-1 mt-2">
                <span class="line-through">$32.2</span>
                <div class="discount">
                  <span class="">${{ Math.round(32.2 * 100) / 100 }}</span>
                </div>
              </div>
              <div class="col-3 mt-2">
                <b-button style="width: 150px" @click="deleteItem(item)"
                  >Delete</b-button
                >
              </div>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Vue from "vue";

export default {
  name: "MyBootstrapGrid",
  data() {
    return {
      total: 11,
      paginatedItems: [],
      currentPage: 1,
      perPage: 2,
      value: 1,
      data: []
    };
  },
  computed: {
    ...mapGetters({})
  },
  methods: {
    async deleteItem(item) {
      try {
        const result = await this.$axios.delete(
          `/api/v1/books/${item.id}/favorites`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.user.user.token}`
            }
          }
        );
        this.data = [];
        this.initialWhistlist();
      } catch (error) {}
    },
    async initialWhistlist() {
      try {
        if (this.$store.state.user.user) {
          const result = await this.$axios.get(
            `/api/v1/books/favorites/${this.$store.state.user.user.id}`,
            {
              headers: {
                Authorization: `Bearer ${this.$store.state.user.user.token}`
              }
            }
          );
          result.data.favorites.forEach(el => {
            this.data.push({
              id: el.id,
              image: el.image,
              name: el.name,
              price: el.prices[0].price,
              author: el.author.name,
              format: el.prices[0].format,
              quantity: el.quantity,
              slug: el.slug,
              avgrank: Math.round(el.avgRank)
            });
          });
        } else {
          this.$router.push("/login");
        }
      } catch (error) {}
    }
  },
  mounted() {},
  async created() {
    this.initialWhistlist();
  }
};
</script>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");
.book-item {
  width: 100%;
  height: 300px;
  margin: 1rem 0;
  padding: 0 1rem;
  border-top: 1px solid #e1e1e3;
  padding: 20px 20px;
  img {
    width: 123px;
    height: 187px;
    object-fit: contain;
    border-radius: 3px;
  }
  .cover-wrapper {
    background-color: #f6f5f7;
    position: relative;
  }
}
.text-gray {
  color: gray;
}
.trash {
  margin-left: 12px;
  i {
    font-size: 22px;
    cursor: pointer;
  }
}
.checked {
  color: orange;
}
.content-wrapper {
  padding: 50px 100px;
  button {
    background: #de2454;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    box-shadow: 1px 1px 5px 0px rgba(67, 0, 17, 0);
    color: rgba(255, 255, 255, 1);
  }
}
.item-info {
  h6 {
    font-size: 20px;
    a {
      color: #2b0f42;
      font-family: "Overpass Mono", monospace;
    }
  }
}
.line-through {
  text-decoration: line-through;
  color: #de2454;
  font-weight: bold;
  font-size: 18px;
}
</style>
